<app-left-panel headerText="מיפוי עסקה" subHeaderText="מיפוי העסקאות שלך מאפשר סדר והפקת דוחות תקינים למע''מ ומס הכנסה" [visible]="isVisible()" (visibleChanged)="onVisibleChange($event)" [backEnabled]="true">

  <div class="content" content>
    <div class="inputs">
      <app-input-select [ariaLabel]="'בחר קטגוריה '" [placeholder]="'בחר קטגוריה'" [controlName]="'category'" [parentForm]="myForm" [size]="inputsSize.MEDIUM" [items]="categoryList()" (onChangeInputSelect)="onChangeInputSelect($event)"></app-input-select>
      <app-input-select [group]="true " [ariaLabel]="'בחר תת קטגוריה '" [placeholder]="'בחר תת קטגוריה'" [controlName]="'subCategory'" [parentForm]="myForm" [size]="inputsSize.MEDIUM" [items]="groupedSubCategory()"></app-input-select>
    </div>

    <div class="buttons">
      <app-p-button [buttonText]="'הוסף קטגוריה חדשה'" [variant]="'text'" [severity]="'info'" [buttonSize]="buttonSize.AUTO" (onButtonClicked)="openAddCategory()"></app-p-button>
      <app-p-button [buttonText]="'הוסף תת קטגוריה חדשה'" [variant]="'text'" [severity]="'info'" [buttonSize]="buttonSize.AUTO" (onButtonClicked)="openAddSubCategory()"></app-p-button>

    </div>
  </div>

  <div class="footer" footer>
   
    <app-p-button [buttonText]="'סווג תנועה'" [isLoading]="isLoading()" [disabled]="myForm?.invalid" (onButtonClicked)="onButtonClicked(myForm)" ></app-p-button>
    <!-- <p-toast [position]="'bottom-right'" [key]="'br'" /> -->
  </div>
</app-left-panel>