.page-wrapper {
  min-height: 100vh;
  width: 100vw;
  padding: 50px;      /* space from edges */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: 60px;           /* space between blocks */
  // border: solid 1px red;
}

.user-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: solid 1px green;
}

.nevigation-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  // border: solid 1px green;
}

.table-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // border: solid 1px green;
}

.table {
  width: 100%;
}

.cards-container {
    display: flex;
    gap: 20px;
    border-color: #EBEBEB;
}

.avatar-with-name {
    display: flex; 
    align-items: center; 
    gap: 10px;
}

.avatar-style {
  background-color: #dee9fc;
  color: #1a2551;
}

.avatar-text {
    font-size: 22px;
    font-weight: 400;
    color: #363636;
}

.block-title {
    font-size: 20px;
    font-weight: 550;
    color: #363636;
}