
<div class="page-wrapper">

    <div class="user-info-block">
        <div class="avatar-with-name">
            <!-- <p-avatar icon="pi pi-user" [style]="{ backgroundColor: '#dee9fc', color: '#1a2551' }" shape="circle"></p-avatar> -->
            <p-avatar icon="pi pi-user" size="large" shape="circle"></p-avatar>
            <span class="avatar-text">שלום {{ userData.fName }} {{ userData.lName }}</span>
        </div>
        <app-p-button class="vat-report-payment-button" [buttonText]="'+ הוספת הוצאה'" [buttonColor]="buttonColor.BLACK" [buttonSize]="buttonSize.AUTO"
      [link]="'/add-expense'">
            <i class="pi pi-plus"></i>
        </app-p-button>
        <!-- <app-p-button class="vat-report-payment-button" [buttonText]="'פתח'" [buttonColor]="buttonColor.BLACK" [buttonSize]="buttonSize.AUTO"
        [link]="'/add-expense'" (onButtonClicked)="openModalAddExpenses()">
              <i class="pi pi-plus"></i>
          </app-p-button> -->
    </div>

    <div class="nevigation-block">
        <span class="block-title">פעולות מומלצות</span>
        <div class="cards-container">
            @for (item of itemsNavigate; track $index) {
                <app-dashboard-navigate [cardItem]="item"></app-dashboard-navigate>
                <!-- <app-card-navigate [cardItem]="item"></app-card-navigate> -->
            }
        </div>
    </div>

    <div class="table-block">
        <span class="block-title">התנועות הלא מסווגות שלי</span>
        <app-generic-table [isLoadingState]="isLoadingDataTable()" class="table" [columnsTitle]="fieldsNamesExpenses" [dataTable]="transToClassify | async" [selectionModeCheckBox]="null" [tableHeight]="'500px'"></app-generic-table>
    </div>

</div>

<!-- <ion-content>
    <div class="my-account-screen">
        <app-item-navigate [navigationItems]="itemsNavigate" navigationItemStyle="button-item-navigate-my-account"></app-item-navigate>
    </div>
</ion-content> -->
