<ion-toolbar>
  <ion-header class="supplier-header">
    <ion-title>
      רשימת לקוחות
    </ion-title>
    <ion-icon (click)="cancel()" class="supplier-icon-header" aria-label="back" size="large"
      name="close-outline"></ion-icon>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div *ngIf="error" class="wrap-error">
    <h2 class="error-supplier">
      <p>
        שגיאה
        <br>
        לא ניתן להציג לקוחות
        <br>
        אנא נסה שנית מאוחר יותר
      </p>
    </h2>
  </div>
  <div *ngIf="clientsList$ | async as clientsList; else notSuppliers " class="wrap-table-and-button">
    <ng-container *ngIf="clientsList ">
      <app-table [checkedId]="checkedClient?.row?.id" [displayCheckbox]="true" (onCheckedClicked)="onChecked($event)"
      [actions]="tableActions" [columnsWidth]="COLUMNS_WIDTH" [fieldsNames]="fieldsName"
      [columnsToIgnore]="COLUMNS_TO_IGNORE" [rows]="clientsList" [inputSearchLable]="'חיפוש לפי ספק'" (filterBy)="filterClients($event)"></app-table>
    </ng-container>
    
    <app-button class="select-supplier-button" *ngIf="clientsList" (onButtonClicked)="onSelect()" [buttonText]="'בחר'" [disabled]="!checkedClient"></app-button>
  </div>

  <ng-template #notSuppliers>
    <p class="not-suppliers-text">אין ספקים שמורים</p>
  </ng-template>
  <ng-template #loader>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>