<div class="table-container">
  <div class="table-header">

    <div class="input-title-container">
      @if (title()) {
        <p class="table-title">{{title()}}</p>
      }
      @if (placeholderSearch()) {
        <p-iconfield class="table-input-search">
          <input class="input-icon" type="text" pInputText [placeholder]="placeholderSearch()"
          (input)="updateSearchTerm($event)" />
          <p-inputicon styleClass="pi pi-search" />
        </p-iconfield>
      }
    </div>
    @if (filterButtonDisplay()) {
      <div class="sort-button">
        <app-p-button (onButtonClicked)="openFilterDialod()" [class]="visibleFilterPannel() ? 'clicked' : ''"
        [iconOnly]="true" [icon]="'pi pi-filter-fill'"
        variant="outlined" [buttonText]="'סינון טבלה'" [buttonColor]="ButtonColor.WHITE"
        [buttonSize]="buttonSize.ICON" ></app-p-button>
      </div>
    }
  </div>
  <app-filter-panel (applyFilters)="applyFilters($event)" [isVisible]="visibleFilterPannel()"></app-filter-panel>
  <div class="table">
    <p-table [(selection)]="selectedTrans" [selectionMode]="selectionModeCheckBox()" (onRowUnselect)="onSelectionChange($event)" (onRowSelect)="onSelectionChange($event)" (onHeaderCheckboxToggle)="onSelectionChange($event)" dataKey="id" [loading]="isLoadingState()" loadingIcon="pi pi-spin pi-spinner-dotted" [columns]="columnsTitle()" [value]="filteredDataTable()" [scrollable]="true" [scrollHeight]="tableHeight()" [virtualScroll]="true"
      [virtualScrollItemSize]="76">
      <ng-template pTemplate="header" let-columns>
        <tr>
          @if (showCheckbox()) {
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
          }
          <th *ngFor="let col of columns" class="columns-header">
            {{ col.value }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="row" [style.height]="isExpanded(row) ? 'auto' : '76px'" class="table-row"
          (mouseenter)="onRowEnter(rowIndex, row, $event)" (mouseleave)="onRowLeave()">
          @if (showCheckbox()) {
            <td>
              <p-tableCheckbox [value]="row"></p-tableCheckbox>
            </td>
          }
          @for(col of columns; track col.name; let i = $index) {
          <td>
            <span #tp="truncatePointer" [class.truncate]="!isExpanded(row)" class="data-text"
              (click)="tp.isTruncated && toggleRow(row)" appTruncatePointer
              [class.red-text]="col.name === 'category' && row[col.name] === 'טרם סווג'">
              <!-- category column -->
              @if(col.name === 'category' && row[col.name] === 'טרם סווג') {
              <i class="pi pi-clock" style="color: red"></i> {{ row[col.name] }}
              }
              <!-- For mark the search result in yellow -->
              @else if (col.name === columnSearch()) {
              <span [innerHTML]="row[columnSearch()] | highlight: searchTerm()"></span>
              }
              <!-- Default row -->
              @else {
              {{ row[col.name] }}
              }
            </span>
          </td>
          }
        </tr>
      </ng-template>
      <!-- Empty Data -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="100%" style="text-align: center; padding: 2rem;">
            <img src="../../../assets/not_data.svg" alt="No Data"
              style="width: 300px; height: 300px;" />
          </td>
        </tr>
      </ng-template>
    </p-table>

    @if (hoveredRowInfo() && showButtons()) {
    <div [@slideInFromLeft]="isSlideIn() ? 'visible' : 'void'" class="floating-buttons"
      [style.top.px]="hoveredRowInfo()?.top" [@slideInFromLeft]="'visible'" (mouseenter)="onFloatingEnter()"
      (mouseleave)="onFloatingLeave()">
      <app-p-button (onButtonClicked)="onVisibleAccountAssociationClicked(hoveredRowInfo()?.row)"
        [buttonText]="'שייך לחשבון'" [severity]="'info'" [variant]="'text'" [buttonSize]="buttonSize.AUTO">
      </app-p-button>

      <app-p-button *ngIf="hoveredRowInfo()?.row?.billName !== 'לא שוייך'"
        (onButtonClicked)="onVisibleClassifyTranClicked(hoveredRowInfo()?.row)" [buttonText]="'סיווג הוצאה'"
        [severity]="'info'" [variant]="'text'" [buttonSize]="buttonSize.AUTO">
      </app-p-button>
    </div>
    }

  </div>
</div>

