
.table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-bottom: 50px;
    //height: 100vh;
    //border: 1px solid black;
}

.table-header {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    width: 99%;
    flex-direction: column;
}

.input-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.table-title {
    font-size: x-large;
    margin-left: 20px;
}

.table-input-search {
    width: 200px;

    :focus {
        border-color: black;
    }
}

.input-icon {
    width: 100%;
    border-radius: 20px;
}

.show-filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    // margin-right: 20px;
}

.filter-header {
    //border: solid;
    display: flex;
    align-items: center;
    background-color: #EBEBEB;
    gap: 5px;
    width: fit-content;
    height: 25px;
    border-radius: 20px;
    padding: 0 14px;
}

.filter-header-text {
    color: #363636;
}

.table {
    display: flex;
    flex-direction: column;
    width: 99%;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // border-radius: 10px;
}

.table-self {
    width: '100%';
    height: '100%';
    background-color: red;
}

.table-row:hover {
    background-color: rgb(248, 243, 243);
}

.columns-header {
    min-width: 170px;
    // width: 170px;
}

.sort-icon {
    margin-right: 5px;
}

.truncate {
    display: inline-block;
    /* or block */
    max-width: 200px;
    /* or any desired width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-text {
    font-size: large;
}

.red-text {
    color: red;
}

.action-cell {
    display: flex;
    height: 76px;
    align-items: center;
}
.buttons-cell {
    position: fixed;
    width: 316px;
    height: 76px;
    left: 0px;
    border-right: 1px solid;
    background-color: white;
}

.buttons-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 316px;
    gap: 0.5rem;
}

.floating-buttons {
    height: 76px;
    border-right: 1px solid;
    position: fixed;
    left: 29px;
    z-index: 1000;
    background: white;
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    // border-radius: 6px;
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: top 0.2s ease;
}