<div class="table-container">
  <div class="table-header">
    <div class="input-title-container">
      <p class="table-title">{{title()}}</p>
      <p-iconfield class="table-input-search">
        <input class="input-icon" type="text" pInputText [placeholder]="placeholderSearch()" />
        <p-inputicon styleClass="pi pi-search" />
      </p-iconfield>
    </div>
    <div class="sort-button">
      <app-p-button [iconOnly]="true" [icon]="'pi pi-filter-fill'" variant="outlined" [buttonText]="'סינון טבלה'"
        [buttonColor]="ButtonColor.WHITE" [buttonSize]="buttonSize.ICON"></app-p-button>
    </div>
  </div>
  <div class="table">
    <p-table [columns]="columnsTitle()" [value]="dataTable()" [tableStyle]="{ 'width': '100%' }" [scrollable]="true" [scrollHeight]="tableHeight()" [virtualScroll]="true" [virtualScrollItemSize]="76">
      <ng-template #header let-columns>
          <tr>
              <th *ngFor="let col of columns" class="columns-header">
                  {{ col.value }}
              </th>
          </tr>
      </ng-template>
      <ng-template #body let-rowData let-columns="columns">
          <tr [style.height]="isExpanded(rowData) ? 'auto' : '76px'">
            @for(col of columns; track col.name) {
              <td>
                <span #tp="truncatePointer" [class.truncate]="!isExpanded(rowData)" class="data-text" (click)="tp.isTruncated && toggleRow(rowData)" appTruncatePointer [class.red-text]="col.name === 'category' && rowData[col.name] === 'טרם סווג'">
                  @if(col.name === 'category' && rowData[col.name] === 'טרם סווג') {
                    <i class="pi pi-clock" style="color: red"></i>
                  }
                  {{ rowData[col.name] }}
                </span>
              </td>
            }
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>