<!-- <div class="modal-container"> -->
<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <div>* שדות שמסומנים בכוכבית הם שדות חובה</div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form class="form-expense" [formGroup]="myForm" (ngSubmit)="confirm()">
    <div class="modal-content">
      <ion-list class="list-expense" scrollY="true">
        <ion-item class="item-expense" *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <div>
            </div>
            <div>
              <ng-container *ngSwitchCase="formTypes.TEXT">
                <ion-input class="input-expense" label="{{col.value}}" label-placement="floating"
                  [formControlName]="col.name" type="text" fill="outline">
                </ion-input>
              </ng-container>

              <ng-container *ngSwitchCase="formTypes.NUMBER">
                <ion-input class="input-expense" label=" * {{col.value}}" label-placement="floating"
                  [formControlName]="col.name" type="number">
                </ion-input>
              </ng-container>

              <ng-container *ngSwitchCase="formTypes.DDL">
                <ion-select class="input-expense" fill="outline" label=" * {{col.value}}" [formControlName]="col.name"
                  (ionChange)="onDdlSelectionChange($event, col)" label-placement="floating" interface="popover">
                  <ion-select-option *ngFor="let option of getListOptionsByKey(col.name)"
                    [value]="option.value">{{option.key}}</ion-select-option>
                </ion-select>
              </ng-container>

              <ng-container *ngSwitchCase="formTypes.DATE">
                <ion-input class="input-expense" label=" * {{col.value}}" label-placement="floating"
                  [formControlName]="col.name" type="date">
                </ion-input>
              </ng-container>
            </div>
          </ng-container>

          <ion-input *ngIf="col.name === expenseFormColumns.TAX_PERCENT && isCustomUserTax" class="field-wrapper"
            type="number" formControlName="{{col.name}}" label="הכנס מספר" label-placement="floating"></ion-input>
          <ion-input *ngIf="col.name === expenseFormColumns.VAT_PERCENT && isCustomUserVat" type="number"
            formControlName="{{col.name}}" label="הכנס מספר" label-placement="floating"></ion-input>
        </ion-item>
      </ion-list>
      <ion-input *ngIf="fileItem" (input)=fileSelected($event) label=" * {{fileItem.value}}" label-placement="floating"
        [formControlName]="fileItem.name" type="file">
      </ion-input>
    </div>
    <ion-button type="submit" [strong]="true" [disabled]="disableSave()">{{editMode ? 'שמור' : 'הוסף' }}</ion-button>
    <ion-button color="medium" (click)="cancel()">ביטול</ion-button>
  </form>
</ion-content>
<!-- </div> -->