

      <ion-header>
        <ion-toolbar>
          <ion-title>הוסף הוצאה</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="myForm" (ngSubmit)="confirm()">
          <ion-list>
            <ng-container *ngFor="let col of columns | keyvalue: valueAscOrder">
              <ion-item *ngIf="col.key !== 'totalTax' && col.key !== 'totalVat'">
               <!--percentTax && percentVat-->
                <ion-select *ngIf="col.key === 'percentTax' || col.key === 'percentVat';else datetime"  label="{{col.value}}" formControlName="{{col.key}}"
                label-placement="floating" interface="popover">
                <ion-select-option value="25">25%</ion-select-option>
                <ion-select-option value="33">33%</ion-select-option>
                <ion-select-option value="66">66%</ion-select-option>
              </ion-select>
              <!-----------date--------------->
              <ng-template #datetime>
                <ion-input *ngIf="col.key === 'date'; else file"  label="{{col.value}}" label-placement="floating" formControlName="{{col.key}}" type="date">
                </ion-input>
              </ng-template>
               <!-----------add file--------------->
              <ng-template #file>
                <ion-input *ngIf="col.key === 'file'; else input"  (input)=fileSelected($event) label="{{col.value}}" label-placement="floating" formControlName="{{col.key}}" type="file">
                </ion-input>
              </ng-template>
               <!----------- category & sum --------------->
              <ng-template #input>
                <ion-input *ngIf="col.key === 'category' || col.key === 'sum' || col.key === note || col.key === expenseNumber; else provider"  label="{{col.value}}" label-placement="floating" formControlName="{{col.key}}" type="text">
                </ion-input>
              </ng-template>
               <!----------- provider --------------->
              <ng-template #provider>
                <ion-input   [(ngModel)] = provInput (input) = checkIfProviderExist($event) label="{{col.value}}" label-placement="floating" formControlName="{{col.key}}" type="text">
                </ion-input>
              </ng-template>
            </ion-item>
          </ng-container>
          <ion-list *ngIf="matches.length > 0 && provInput.length > 0">
            <ion-item *ngFor="let provider of matches" (click)="selectProvider(provider)">{{ provider.name }}</ion-item>
          </ion-list>
          <ion-checkbox formControlName="equipment">מוגדר כציוד</ion-checkbox>
          </ion-list>
          <ion-button type="submit" [strong]="true">הוסף</ion-button>
          <ion-button color="medium" (click)="cancel()">ביטול</ion-button>
        </form>
      </ion-content>
      


 

