.select-year {
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    //justify-content: space-around;
    //--padding-top:200px;
}

.input-wrapper {
    flex: 1;
    --border-radius: 15px;
    margin-right: 10px;
    font-size: 90%;
}

  
  