:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    align-items: center;
  }

.screen-admin-panel {
    display: flex;
    flex-direction: column;
}

.finsite-search-bar {
    width: 750px;
}

.shaam-button-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}