// :host {
//   font-family: 'Open Sans Hebrew', serif;
// }

// .table-wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   direction: rtl;
  

//   tr:first-child {
//     padding-top:50px;
//   }

//   td:first-child {
//     border-radius: 0 20px 20px 0;
//   }

//   td:last-child {
//     border-radius: 20px 0 0 20px;
//   }

// }
// .table-title {
//   font-weight: 700;
//   font-size: 30px;
//   margin: 0;
// }

// .table-container {
//   text-align: center;
//   border-collapse: separate;
//   border-spacing: 0 30px;

//   .table-header {
//     border-spacing: 10px;
//     padding: 0 20px 0 20px;    
//     background-color: white;
//     font-weight: 400;
//     font-weight: bold;
//     font-size: 20px;
//     color: #3E3A3A;
    
//   }

//   .table-row {
//     border-spacing: 10px;
//     padding: 10px;
//     margin: 10px;
//     font-size: 20px;
//     color: #717070;
//     background-color: #F3F3F3;
//   }

//   .table-row-wrapper {
//     padding: 20px;
//   }
// }

// .table-button {
//   display: flex;
//   margin-top: 20px;
//   justify-content: flex-end;
// }


// .table-scroll {
//   overflow-x: auto;
//   white-space: nowrap;
// }
// .receipt-wrapper{
//   border-radius: 20px;
//   width: fit-content;
//   border: 1px solid #6A6A6A;
//   padding: 20px;
//   margin: 20px;
//   direction: rtl;

//   tr:first-child {
//     padding-top:50px;
//   }

//   td:first-child {
//     border-radius: 0 20px 20px 0;
//   }

//   td:last-child {
//     border-radius: 20px 0 0 20px;
//   }

//   .table-title {
//     font-weight: 700;
//     font-size: 30px;
//     margin: 0;
//   }
// }
//=============================================================================
ion-col {
  border: solid 1px #fff;
  color: black;
  text-align: center;
}

.grid-container{
  width: 100%;
  overflow-x: auto;
}

.grid{
  // width: 1300px;
  border: 2px solid rgb(79, 171, 79);;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.row-header{
  background-color:rgba(0, 15, 0, 0.33); 
  text-align: center;
  // &.date{
  //   //border: solid blue;
  // }
  // &.sum{
  //   //border:solid red;
  // }
  // &.supplier{
  //   //border: solid green;
  // }
  // &.category{
  //   //border: solid darkblue;
  // }
  // &.subCategory{
  //   //border: solid chartreuse;
  // }
  // &.vatPercent{
  //   //border: solid aqua;
  // }
  // &.taxPercent{
  //   //border: solid hotpink;
  // }
  // &.totalTaxPayable{
  //   //border: solid lightcoral;
  // }
  // &.totalVatPayable{
  //   //border: chocolate;
  // }
  // &.action{
   
  //   //border: solid teal;
  // }
  
}

.even-row {
  background-color:rgba(0, 15, 0, 0.13); 
}

.odd-row {
  background-color:rgba(0, 15, 0, 0.33); 
}

.icon-table{
  cursor: pointer;
  width: 25px ;
  height: 25px ;
  margin: 5px;
}

.special-cell {
  color: red;
}

.special-cell:hover {
  color: red;
  cursor: pointer;
}





