
// .example-viewport {
//   height: 100vh;
//   width: 98vw;
//   border: 1px solid gray;
//   background-color: var(--ion-background-color, white);
//   border-radius: var(--ion-border-radius, 8px);
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
//   z-index: 100;
// }



.grid-container{
  width: 100%;
  overflow-x: auto;
}

.grid{
  min-width: 654px;
  border: 2px solid rgb(79, 171, 79);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.col-header{
  background-color:rgba(0, 15, 0, 0.33); 
  text-align: center;
  font-size: small;
}

.disabled-row {
  pointer-events: none;
  opacity: 0.6;
}

.icon-table{
  cursor: pointer;
  width: 25px ;
  height: 25px ;
  margin: 5px;
}

.special-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.text-special-cell {
  font-size: small;
  border: 1px solid;
  border-radius: 15px;
  border-color: red;
  padding: 4px;
}

.text-special-cell:hover {
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4%;
}f

.checkbox-header {
  --background:  rgb(79, 171, 79);
  border-radius: 15px;
  color: black;
}

.checkbox-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-file-table {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-file-table ion-icon:hover   {
  cursor: pointer;
}

.label-file-table ion-icon {
  width: 30%;
  height: 60%;
}

.label-file-table ion-input[type="file"] {
  display: none;
}

.trash-icon {
  width: 10px;
  height: 10px;
}

.ion-col-with-icon {
  position: relative;
  display: flex;
}

.wrap-button-category {
  position: absolute; /* The child is positioned relative to its parent */
  top: -10px; /* Distance from the top of the parent */
  right: 0px; /* Distance from the left of the parent */
  visibility: hidden;
}

.ion-col-with-icon:hover
.wrap-button-category {
  visibility: visible;
}

.text-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;             /* Hide overflowing text */
}

.inner-div-cell {
  text-align: center;
  white-space: nowrap;          /* Prevent text wrapping */
  overflow: hidden;             /* Hide overflowing text */
  text-overflow: ellipsis;      /* Show ellipsis for overflow */
  cursor: pointer;              /* Indicate clickable element */
  width: 100%;                  /* Full width of the cell */
  // transition: all 0.3s ease-in-out;  /* Smooth transition for resizing */
}

.inner-div-cell.expanded {
  white-space: normal;          /* Allow text to wrap */
  overflow: visible;            /* Show all text */
  height: auto; 
}



//=======================================================
.table-headers{
  background-color: #e7e6dd;
  font-size: 14px;
  letter-spacing: 0.03em;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table-row {
    margin-bottom: 6px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.table-row:hover{
  background-color: #e7e6dd;
}

// @media only screen and (max-width: 767px) {
//   .table-headers {
//     //display: none;
//   }
//   .table-row{
//     width: 25%;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//   }

//   .grid {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   ion-col {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .text-cell {
//     overflow: visible;      /* Show ellipsis for overflow */
//   }
// }