<!-- <table *ngIf="data" class="receipt-wrapper">
  <div *ngFor="let field of data | keyvalue">
    <tr>
      <th>
        {{getFieldValue(field.key)}}
      </th>
      <td>
        <ng-container *ngIf="field.key === 'file'; else defaultField">
          <ion-button (click)="previewFile(field.value)">הצג</ion-button>
          <ion-button (click)="downloadFile(field.value)">הורד</ion-button>
        </ng-container>
        <ng-template #defaultField>{{ field.value }}</ng-template>
      </td>
    </tr>
  </div>
  <ion-button (click)="updateExpense()">ערוך</ion-button>
  <ion-button (click)="deleteExpense()">מחק</ion-button>
</table> -->

<div class="grid-container">
  <ion-grid class="grid">
    <ion-row>
      <ion-col
        *ngFor="let col of fieldsNames"
        [size]="columnsWidth?.get(col.name) ?? baseSize"
        class="row-header {{col.name}}">
        {{col.value}}
      </ion-col>
      <ion-col *ngIf="actions?.length" size="2" class="row-header action">
        פעולות
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let row of rows; let i = index">
      <ng-container *ngFor="let field of row | keyvalue: columnsOrderByFunc">
        <!-- TODO: remove the specific dateTimestampfrom size -->
        <ng-container [ngSwitch]="specialColumnsCellRendering?.get(field.key)">
          <ng-container *ngSwitchCase="ICellRenderer.BILL">
            <ng-container *ngTemplateOutlet="billRenderCell"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="ICellRenderer.CATEGORY">
            <ng-container *ngTemplateOutlet="categoryRenderCell"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="ICellRenderer.SUBCATEGORY">
            <ng-container *ngTemplateOutlet="subCategoryRenderCell"></ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <ng-container *ngTemplateOutlet="defaultCell"></ng-container>
          </ng-container>
        </ng-container>

        <ng-template #defaultCell>
          <ion-col
                [class.even-row]="i % 2 === 0" [class.odd-row]="i % 2 !== 0"
                [size]="field.key == 'dateTimestamp' ? 1.5 : columnsWidth?.get(field.key) ?? baseSize">
                {{field.value}}
          </ion-col>
        </ng-template>
        
        <ng-template #billRenderCell>
          <ng-container *ngIf="field.value === 'זמני'; else defaultCell">
          <ion-col
          *ngIf="field.value === 'זמני'; else defaultCell"
                [class.even-row]="i % 2 === 0" [class.odd-row]="i % 2 !== 0"
                class="special-cell"
                [size]="field.key == 'dateTimestamp' ? 1.5 : columnsWidth?.get(field.key) ?? baseSize" (click)="openAddBill(row)">
                bill
          </ion-col>
        </ng-container>
        </ng-template>
        
        <ng-template #categoryRenderCell>
          <ion-col
          *ngIf="field.value === 'טרם סווג'; else defaultCell"
                [class.even-row]="i % 2 === 0" [class.odd-row]="i % 2 !== 0"
                class="special-cell"
                [size]="field.key == 'dateTimestamp' ? 1.5 : columnsWidth?.get(field.key) ?? baseSize">
                cat
          </ion-col>
        </ng-template>
        
        <ng-template #subCategoryRenderCell>
          <ion-col
          *ngIf="field.value === 'טרם סווג'; else defaultCell"
                [class.even-row]="i % 2 === 0" [class.odd-row]="i % 2 !== 0"
                class="special-cell"
                [size]="field.key == 'dateTimestamp' ? 1.5 : columnsWidth?.get(field.key) ?? baseSize">
                sub
          </ion-col>
        </ng-template>
      
      </ng-container>
      <ion-col *ngIf="actions?.length" size="2" [class.even-row]="i % 2 === 0" [class.odd-row]="i % 2 !== 0">
        <ion-icon *ngFor="let action of actions" class="icon-table" (click)="action.action(row)" [name]="action.icon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>