<!-- <table *ngIf="data" class="receipt-wrapper">
  <div *ngFor="let field of data | keyvalue">
    <tr>
      <th>
        {{getFieldValue(field.key)}}
      </th>
      <td>
        <ng-container *ngIf="field.key === 'file'; else defaultField">
          <ion-button (click)="previewFile(field.value)">הצג</ion-button>
          <ion-button (click)="downloadFile(field.value)">הורד</ion-button>
        </ng-container>
        <ng-template #defaultField>{{ field.value }}</ng-template>
      </td>
    </tr>
  </div>
  <ion-button (click)="updateExpense()">ערוך</ion-button>
  <ion-button (click)="deleteExpense()">מחק</ion-button>
</table> -->
<ion-popover [isOpen]="isOpen">
  <ng-template>
    <ion-content>
      <div class="wrap-message">
        <div>{{message}}</div>
        <div class="wrap-buttons-message">
          <app-button [buttonSize]="ButtonSize.SMALL" buttonText="כן" (onButtonClicked)="deleteExpense()"></app-button>
          <app-button buttonText="לא" [buttonSize]="ButtonSize.SMALL" (onButtonClicked)="cancelDel()"></app-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-popover>
<div class="grid-container">
  <ion-grid class="grid">
    <ion-row>
      <ion-col
        [size]="col.name == 'date' ? 1.5 : col.name == 'supplier' ? 1.2 : col.name == 'category' ? 1.2 : col.name == 'subCategory' ? 1.1 : 1"
        class="row-header" [class.totalVatPayable]="col.name === 'totalVatPayable'"
        [class.totalTaxPayable]="col.name === 'totalTaxPayable'" [class.taxPercent]="col.name === 'taxPercent'"
        [class.vatPercent]="col.name === 'vatPercent'" [class.subCategory]="col.name === 'subCategory'"
        [class.category]="col.name === 'category'" [class.date]="col.name === 'date'" [class.sum]="col.name === 'sum'"
        [class.supplier]="col.name === 'supplier'" *ngFor="let col of fieldsNames">
        {{col.value}}
      </ion-col>
      <ion-col size="2" class="row-header action">
        פעולות
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let row of rows; let i = index" [class.even-row]="i % 2 === 0" [class.odd-row]="i % 2 !== 0">
      <ng-container *ngFor="let field of row | keyvalue: orderByFunc">
        <ion-col
          [size]="field.key == 'dateTimestamp' ? 1.5 : field.key == 'supplier' ? 1.2 : field.key == 'category' ? 1.2 : field.key == 'subCategory' ? 1.1 : 1"
          *ngIf="field.key != 'id' ">
          {{field.value}}
        </ion-col>
      </ng-container>
      <ion-col size="2">
        <ion-icon class="icon-table" (click)="confirmDel(row)" name="trash-outline"></ion-icon>
        <ion-icon class="icon-table" name="share-social-outline"></ion-icon>
        <ion-icon class="icon-table" (click)="previewFile(row)" name="glasses-outline"></ion-icon>
        <ion-icon class="icon-table" (click)="updateExpense(row)" name="create-outline"></ion-icon>
        <ion-icon class="icon-table" (click)="downloadFile(row)" name="cloud-download-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>