
<ion-list class="nav-buttons-wrapper">
  <ion-button *ngFor="let item of navigationItems" 
    class="{{item.index}} {{navigationClass}} {{navigationItemStyle}}" 
    [ngClass]="{'disable-click': disableClick}" 
    shape="round" 
    [class.selected]="item.selected" 
    [disabled]="item.disable" 
    (click)="onButtonClicked(item)">
    <div class="button-content">
      <ion-icon class="icon-nav" size="large" *ngIf="item.image" [name]="item.image"></ion-icon>
      <ion-label class="label-item">{{item.name}}</ion-label>
    </div>
  </ion-button>
</ion-list>
