<form [formGroup]="updateForm">
  <div formArrayName="blocks">
    <ng-container *ngFor="let block of blocks.controls; let blockIndex = index" class="wrap-output-update">
      <!-- Only show the block if it's enabled or enabled is not defined (default to true) -->
      <ng-container *ngIf="blocksData[blockIndex]?.enabled ?? true">
        <div [formGroupName]="blockIndex">
          <!-- Block Title -->
          <h3>{{ blocksData[blockIndex]?.title }}</h3>

          <!-- Fields -->
          <div formArrayName="fields" class="update-block">
            <ng-container *ngFor="let field of blocks.at(blockIndex).get('fields')['controls']; let fieldIndex = index">
              <!-- Only show the field if it's enabled or enabled is not defined (default to true) -->
              <ng-container *ngIf="blocksData[blockIndex]?.fields[fieldIndex]?.enabled ?? true">
                <div [formGroupName]="fieldIndex">

                  <!-- Use app-generic-input for input fields -->
                  <ng-container *ngIf="blocksData[blockIndex]?.fields[fieldIndex]?.type === 'input'">
                    <app-generic-input 
                      [inputLabel]="blocksData[blockIndex]?.fields[fieldIndex]?.name"
                      [controlName]="'value'" 
                      [parentForm]="field">
                    </app-generic-input>
                  </ng-container>

                  <!-- Use app-generic-select for select fields -->
                  <ng-container *ngIf="blocksData[blockIndex]?.fields[fieldIndex]?.type === 'select'">
                    <app-generic-select 
                      [title]="blocksData[blockIndex]?.fields[fieldIndex]?.name"
                      [controlName]="'value'" 
                      [parentForm]="field"
                      [items]="blocksData[blockIndex]?.fields[fieldIndex]?.options">
                    </app-generic-select>
                  </ng-container>
                  
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <button type="button" (click)="saveChanges()" class="wrap-buttons">עדכן</button>
</form>