<p-toast [position]="'bottom-right'" [key]="'br'" />
@if (genericService.isLoading()) {
  <div class="global-loader-overlay">
    <div class="loader-box">
      <p-progressSpinner strokeWidth="4" styleClass="loader-spinner" />
      <p class="loader-message">{{ genericService.loaderMessage() }}</p>
    </div>
  </div>
}
@if (showTopNav() && selectedClientId) {
  <div class="accountant-context-banner" dir="rtl">
    <span class="banner-text">
      רואה החשבון: {{ userData?.fName }} {{ userData?.lName }} | בחשבון של: {{ selectedClientName }}
    </span>
    <button type="button" class="banner-exit-btn" (click)="exitClientView()">
      יציאה מחשבון הלקוח
    </button>
  </div>
}
@if (showTopNav()) {
  <app-p-topNav [menuItems]="menuItems" contentId="main-content"></app-p-topNav>
}
<div class="app-content">
  <p-confirmdialog></p-confirmdialog>
  <router-outlet id="main-content"></router-outlet>
</div>