<!-- <ion-app>
  <ion-menu  type="overlay">
    <ion-menu-button></ion-menu-button>
    <ion-content>
      <ion-list id="inbox-list">

        <ion-menu-toggle side="end" auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ng-container *ngIf="p.url === 'admin-panel' && isUserAdmin">
              <ion-item class="icon" [routerLink]="'admin-panel'" side="end" routerDirection="root" lines="none"
                detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [name]="'settings-outline'"></ion-icon>
                <ion-label>פאנל ניהול</ion-label>
              </ion-item>
          </ng-container>

          <ng-container *ngIf="p.url === 'client-panel' && isAccountant">
            <ion-item class="icon" [routerLink]="'client-panel'" side="end" routerDirection="root" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [name]="'settings-outline'"></ion-icon>
              <ion-label>הלקוחות שלי</ion-label>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="p.title === 'logOut'">
            <ion-item class="icon" (click)="openCloseLogOutPopup()" side="end" routerDirection="root" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>התנתקות</ion-label>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="p.url === 'add-expenses'">
            <ion-item class="icon" (click)="openModalAddExpense()" side="end" routerDirection="root" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>הוספת הוצאה</ion-label>
            </ion-item>
          </ng-container>

            <ng-container *ngIf="p.title !== 'logOut' && p.url !== 'add-expenses' && p.url !== 'admin-panel' ">
              <ion-item side="end" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [name]="p.icon + '-outline'"
                  [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ng-container>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-popover class="logout-pop" *ngIf="isPopoverOpen" backdrop-dismiss='false' [isOpen]="isPopoverOpen">
    <ng-template>
      <div> אתה בטוח שאתה רוצה לעזוב?</div>
      <ion-button (click)="signOut()">כן</ion-button>
      <ion-button (click)="openCloseLogOutPopup()">לא</ion-button>
    </ng-template>
  </ion-popover>
  <app-toast></app-toast>
  
</ion-app> -->
<p-toast [position]="'bottom-right'" [key]="'br'" />
<app-p-topNav [menuItems]="menuItems" contentId="main-content"></app-p-topNav>
<router-outlet id="main-content">
</router-outlet>
<!-- 
<ion-router-outlet id="main-content">

</ion-router-outlet> -->



<!-- <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="showMenu">
    </ion-menu>

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle auto-hide="false" *ngIf="!showMenu">
            <ion-button (click)="toggleMenu()">
              <ion-icon name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Your App Title</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>
  </ion-split-pane>
</ion-app> -->