
<form [formGroup]="parentForm" class="multi-input-form">
  <ion-item [disabled]="disabled" (blur)="toggleDropdown()" class="wrap-multi-input {{className}}">
    <ion-input class="mupti-input" [formControlName]="controlName" [placeholder]="inputLabelName"
     (ionFocus)="showDropdown = true" (ionInput)="filterCategories()"></ion-input>
    <!-- <ion-button fill="clear"> -->
    <ion-icon slot="end" name="caret-down-outline" (click)="toggleDropdown()" (ionBlur)="toggleDropdown()"></ion-icon>
    <!-- </ion-button> -->
  </ion-item>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" *ngIf="showDropdown">
    <div *cdkVirtualFor="let item of filteredCategories" class="example-item" (click)="selectCategory(item.value.toString())">{{item.name}}</div>
  </cdk-virtual-scroll-viewport>

</form>