.multi-input-form {
  height: 80px;
  width: 100%;
}

ion-icon{
  cursor: pointer;
}

.wrap-multi-input {
  border: 1px solid #bbb8b8;
  border-radius: 15px;
  width: 100%;
  // width: 172px;
  --border-style: none;
  
  &.wide {
    width: 250px;
  }
}

.wrap-multi-input:hover {
  border: 1px solid black;
}

.no-scroll {
  overflow: hidden;
  height: 100vh; /* Prevent vertical scrolling */
}


.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid gray;
  background-color: var(--ion-background-color, white);
  border-radius: var(--ion-border-radius, 8px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.example-item {
  height: 50px;
  cursor: pointer;
}