<p-menubar [model]="menuItems()">
    <ng-template pTemplate="start">
      <img class="top-nav-logo" src="../../../assets/logo.svg" alt="Logo" height="40">
    </ng-template>
    <ng-template pTemplate="end" >
        <div class="top-nav-buttons">
            <app-p-button [link]="'/doc-create'" [buttonText]="'הפקת מסמך'" [buttonColor]="ButtonColor.BLACK" [buttonSize]="ButtonSize.SMALL"></app-p-button>
            <app-p-button [link]="'/settings'" [buttonColor]="ButtonColor.BLACK" [buttonSize]="ButtonSize.ICON"  [variant]="'outlined'" [icon]="'pi pi-cog'" [iconOnly]="true" [buttonText]="'הגדרות'"></app-p-button>
        </div>
      </ng-template>
  </p-menubar>

  