<p-menubar [model]="menuItems()">
    <ng-template pTemplate="start">
      <img class="top-nav-logo" src="../../../assets/logo.svg" alt="Logo" height="40">
    </ng-template>
    <ng-template pTemplate="end" >
        <div class="top-nav-buttons">
            @if (!isOnDocCreate() && access.createDocument().visible) {
                <app-p-button [buttonText]="'הפקת מסמך'" [buttonColor]="ButtonColor.BLACK" [buttonSize]="ButtonSize.SMALL" (onButtonClicked)="onCreateDocumentClick()"></app-p-button>
            }
            <app-menu-button
                icon="pi pi-cog"
                ariaLabel="תפריט הגדרות"
                [items]="settingsMenuItems()">
            </app-menu-button>
        </div>
      </ng-template>
  </p-menubar>

  