<div class="table-block">

    <!-- FILTER TAB -->
    <app-filter-tab
        [config]="filterConfig"
        [form]="form"
        (apply)="onSubmit($event)">
    </app-filter-tab>

    <!-- PAGE TITLE -->
     <h2 class="table-title">
        מסמכים שהפקתי עבור העסק:
        <span class="business-name">{{ selectedBusinessName() }}</span>
    </h2>

    <!-- DOCUMENTS TABLE -->
    <app-generic-table
        class="table"
        [isLoadingState]="isLoadingDataTable()"
        [columnsTitle]="documentsTableFields"
        [dataTable]="myDocuments | async"
        [fileActions]="fileActions()"
        [selectionModeCheckBox]="null"
        [tableHeight]="'500px'">
    </app-generic-table>

</div>

@if (showMiniMenu()) {
  <div class="mini-menu-wrapper">
    <div class="mini-menu-content">

      <div class="option" (click)="downloadOriginal()">
        📄 הורד קובץ מקורי
      </div>

      <div class="option" (click)="downloadCopy()">
        📑 הורד קובץ עותק
      </div>

    </div>
  </div>
}




