<app-custom-toolbar></app-custom-toolbar>
<ion-content>
  <div class="transaction-screen">

    <div class="header-transaction">
      <div class="bars-header">
      <app-search-bar class="generic-searchbar-wrapper" [customTemplate]="searchBarContent"
        [isDisabled]="transactionsForm.invalid" (onSearchClick)="getTransactions()"></app-search-bar>
      <app-load-file [relativeUrl]="'load-file'"></app-load-file>
    </div>
      <div *ngIf="!expensesData">אנא בחר חשבון וחודשי דיווח על מנת להציג נתונים</div>
      <div class="wrap-collapse">
      <app-collapse *ngIf="incomesData$ | async as incomesData" [customTemplate]="incomeCollapse"
      (handleOpen)="onOpenClicked($event)" [title]="'הכנסות'"></app-collapse>
      <app-collapse *ngIf="expensesData$ | async as expensesData" [customTemplate]="expensesCollapse"
      (handleOpen)="onOpenClicked($event)" [title]="'הוצאות'"></app-collapse>
    </div>
  </div>
    <div class="content-wrapper">

      <ng-template #expensesCollapse>
        <app-search-bar class="generic-searchbar-wrapper" [customTemplate]="expensesSearchBar"
          [isDisabled]="expensesForm.invalid" (onSearchClick)="filterExpenses()"></app-search-bar>
        <app-table (filterBy)="filterByExpenses($event)" [inputSearchLable]="'חיפוש לפי שם העסק'" iconSrc="../../../assets/custom-ion-icons/md-edit.svg" [iconName]="'create'"
          [iconToolTip]="'ערוך קטגוריה'" (onClickedCell)="onClickedCell($event)"
          [specialColumnsCellRendering]="specialColumnsCellRendering" *ngIf="expensesData$ | async as expensesData"
          [fieldsNames]="fieldsNamesExpenses" [rows]="expensesData" [columnsToIgnore]="COLUMNS_TO_IGNORE_EXPENSES"
          [actions]="tableActions" [columnsOrderByFunc]="columnsOrderByFunc"
          [columnsWidth]="COLUMNS_WIDTH_EXPENSES"></app-table>
      </ng-template>

      <ng-template #incomeCollapse>
        <app-search-bar class="generic-searchbar-wrapper" [customTemplate]="incomeSearchBar"
          [isDisabled]="incomeForm.invalid" (onSearchClick)="filterIncomes()"></app-search-bar>
        <app-table (filterBy)="filterIncomes($event)" [inputSearchLable]="'חיפוש לפי שם העסק'" (onClickedCell)="onClickedCell($event)" [specialColumnsCellRendering]="specialColumnsCellRendering"
          *ngIf="incomesData$ | async as incomesData" [fieldsNames]="fieldsNamesIncome" [rows]="incomesData"
          [columnsOrderByFunc]="columnsOrderByFunc" [columnsToIgnore]="COLUMNS_TO_IGNORE_INCOMES"
          [columnsWidth]="COLUMNS_WIDTH_INCOME"></app-table>
      </ng-template>

      <ng-container *ngIf="addPayment">
        <app-add-bill [paymentMethod]="this.selectBill"></app-add-bill>
      </ng-container>

    </div>

    <app-button *ngIf="expensesData" [buttonText]="'הפקת דוח'" (onButtonClicked)="openFlowReport()"></app-button>
  </div>
</ion-content>

<ng-template #searchBarContent>
  <form class="generic-search-bar-content" [formGroup]="transactionsForm">
    <app-select-report-period [parentForm]="transactionsForm"></app-select-report-period>
    <app-select-month *ngIf="this.transactionsForm.get('reportingPeriodType').value != reportingPeriodType.DATE_RANGE" [parentForm]="transactionsForm"></app-select-month>
    <app-select-year *ngIf="this.transactionsForm.get('reportingPeriodType').value != reportingPeriodType.DATE_RANGE" [parentForm]="transactionsForm"></app-select-year>
    <app-sort-date *ngIf="this.transactionsForm.get('reportingPeriodType').value === reportingPeriodType.DATE_RANGE" [controlName]="'startDate'" [parentForm]="transactionsForm"></app-sort-date>
    <app-sort-date *ngIf="this.transactionsForm.get('reportingPeriodType').value === reportingPeriodType.DATE_RANGE" [controlName]="'endDate'" [parentForm]="transactionsForm"></app-sort-date>
    <app-generic-select [controlName]="'accounts'" [items]="accountsList" [title]="'בחר חשבון'"
      [parentForm]="transactionsForm"></app-generic-select>
  </form>
</ng-template>

<ng-template #incomeSearchBar>
  <form class="generic-search-bar-content" [formGroup]="incomeForm">
    <app-generic-select [parentForm]="incomeForm" [controlName]="'incomeType'" [items]="typeIncomeList"
      [title]="'סוג ההכנסה'"></app-generic-select>
    <app-generic-select [parentForm]="incomeForm" [controlName]="'category'" [items]="listFilterCategory"
      [title]="'קטגוריה'"></app-generic-select>
  </form>
</ng-template>




<ng-template #expensesSearchBar>
  <form class="generic-search-bar-content" [formGroup]="expensesForm">
    <app-generic-select [parentForm]="expensesForm" [controlName]="'expensesType'" [items]="typeIncomeList"
      [title]="'סוג ההוצאה'"></app-generic-select>
    <app-generic-select [parentForm]="expensesForm" [controlName]="'category'" [items]="listFilterCategory"
      [title]="'קטגוריה'"></app-generic-select>
  </form>
</ng-template>

<ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="4000" (didDismiss)="setOpenToast()"></ion-toast>