:host {
    overflow: scroll;
}

.transaction-wrapper {
    border: 2px solid rgb(79, 171, 79);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.input-wrapper {
    width: 200px;

    &.month-pick {
        width: 280px;
    }
}

@keyframes slide-in {
    100% {
        transform: translateY(0%)
    }
}

.header-transaction {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.label-file-transaction {
    width: 55%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.label-file-transaction ion-icon:hover   {
    cursor: pointer;
}

.label-file-transaction ion-icon {
    // --ionicon-stroke-width: 2px;
    width: 30%;
    height: 60%;
}

.label-file-transaction ion-input[type="file"] {
    display: none;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.wrap-upload {
    border: 2px solid rgb(79, 171, 79);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.string-label:hover {
    cursor: pointer;
}