:host {
    overflow: scroll;
}

.transaction-wrapper {
    border: 2px solid rgb(79, 171, 79);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.input-wrapper {
    width: 200px;

    &.month-pick {
        width: 280px;
    }
}

@keyframes slide-in {
    100% {
        transform: translateY(0%)
    }
}

.header-transaction {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.label-file-transaction {
    border: 1px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(79, 171, 79);
    color: white;
    display: flex;
    justify-content: center;
    // align-items: center;
}

.label-file-transaction :hover {
    cursor: pointer;
}

.label-file-transaction ion-icon {
    // --ionicon-stroke-width: 2px;
    width: 80%;
    height: 100%;
}

.label-file-transaction ion-input[type="file"] {
    display: none;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}