<app-custom-toolbar></app-custom-toolbar>
<ion-content>
  <div class="header-transaction">

    <app-search-bar class="generic-searchbar-wrapper" [customTemplate]="searchBarContent" [isDisabled]="transactionsForm.invalid"
    (onSearchClick)="getTransactions()"></app-search-bar>
    <label class="label-file-transaction">
        <ion-icon size="small" name="cloud-upload-outline"></ion-icon>
        <ion-input (change)="onFileSelected($event)" label-placement="floating" type="file" accept=".pdf, .xlsx">
      </ion-input>
    </label>
    <button (click)="onUpload()">Upload</button>
    <button (click)="openAddTransaction($event)">open</button>

  </div>
  <div class="content-wrapper">
    <app-collapse *ngIf="incomesData$ | async as incomesData" [customTemplate]="incomeCollapse" (handleOpen)="onOpenClicked($event)"
      [title]="'הכנסות'"></app-collapse>
    <ng-container *ngIf="isOpen">
    </ng-container>
    <app-collapse *ngIf="expensesData$ | async as expensesData" [customTemplate]="expensesCollapse" (handleOpen)="onOpenClicked($event)" [title]="'הוצאות'"></app-collapse>
  

    <ng-template #expensesCollapse>
      <app-search-bar class="generic-searchbar-wrapper" [customTemplate]="expensesSearchBar" [isDisabled]="expensesForm.invalid"
        (onSearchClick)="expensesFilter()"></app-search-bar>
      <app-table (onClickedCell)="onClickedCell($event)" [specialColumnsCellRendering]="specialColumnsCellRendering" *ngIf="expensesData$ | async as expensesData" [fieldsNames]="fieldsNamesExpenses" [rows]="expensesData" [columnsToIgnore]="COLUMNS_TO_IGNORE_EXPENSES" [actions]="tableActions"
        [columnsOrderByFunc]="columnsOrderByFunc"></app-table>
    </ng-template>
  
    <ng-template #incomeCollapse>
      <app-search-bar class="generic-searchbar-wrapper" [customTemplate]="incomeSearchBar" [isDisabled]="incomeForm.invalid"
        (onSearchClick)="incomeFilter()"></app-search-bar>
      <app-table (onClickedCell)="onClickedCell($event)" [specialColumnsCellRendering]="specialColumnsCellRendering" [actions]="tableActions"  *ngIf="incomesData$ | async as incomesData" [fieldsNames]="fieldsNamesIncome" [rows]="incomesData"
        [columnsOrderByFunc]="columnsOrderByFunc" [columnsToIgnore]="COLUMNS_TO_IGNORE_INCOMES"></app-table>
    </ng-template>

    <ng-container *ngIf="addPayment">
      <app-add-bill [paymentMethod]="this.selectBill" ></app-add-bill>
    </ng-container>

  </div>

 <app-button [buttonText]="'הפקת דוח'" (onButtonClicked)="openFlowReport()"></app-button>

</ion-content>

<ng-template #searchBarContent>
  <form class="generic-search-bar-content" [formGroup]="transactionsForm">
    <app-select-month-format [parentForm]="transactionsForm"></app-select-month-format>
    <app-select-month [parentForm]="transactionsForm"></app-select-month>
    <app-select-year [parentForm]="transactionsForm"></app-select-year>
    <app-generic-select [controlName]="'accounts'" [items]="accountsList" [title]="'בחר חשבון'"
      [parentForm]="transactionsForm"></app-generic-select>
  </form>
</ng-template>

<ng-template #incomeSearchBar>
  <form class="generic-search-bar-content" [formGroup]="incomeForm">
    <app-generic-select [parentForm]="incomeForm" [controlName]="'incomeType'" [items]="typeIncomeList"
      [title]="'סוג ההכנסה'"></app-generic-select>
    <app-generic-select [parentForm]="incomeForm" [controlName]="'category'" [items]="accountsList" [title]="'קטגוריה'"></app-generic-select>
  </form>
</ng-template>



<ng-template #expensesSearchBar>
  <form class="generic-search-bar-content" [formGroup]="expensesForm">
    <app-generic-select [parentForm]="expensesForm" [controlName]="'expensesType'" [items]="typeIncomeList"
      [title]="'סוג ההוצאה'"></app-generic-select>
    <app-generic-select [controlName]="'category'" [items]="accountsList" [title]="'קטגוריה'"></app-generic-select>
  </form>
</ng-template>
