<ion-toolbar>
  <ion-header class="supplier-header">
    <ion-title>
      רשימת ספקים
    </ion-title>
    <ion-icon (click)="cancel()" class="supplier-icon-header" aria-label="back" size="large"
      name="close-outline"></ion-icon>
  </ion-header>
</ion-toolbar>

<ion-popover [isOpen]="isOpen">
  <ng-template>
    <ion-content>
      <div class="wrap-message">
        <div>{{message}}</div>
        <div class="wrap-buttons-message">
          <app-button [buttonSize]="ButtonSize.SMALL" buttonText="כן" (onButtonClicked)="deleteSupplier()"></app-button>
          <app-button buttonText="לא" [buttonSize]="ButtonSize.SMALL" (onButtonClicked)="cancelDel()"></app-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content>
  <div *ngIf="error" class="wrap-error">
    <h2 class="error-supplier">
      <p>
        שגיאה
        <br>
        לא ניתן להציג ספקים
        <br>
        אנא נסה שנית מאוחר יותר
      </p>
    </h2>
  </div>
  <div *ngIf="suppliersList$ | async as suppliersList; else notSuppliers " class="wrap-table-and-button">
    <ng-container *ngIf="suppliersList ">
      <app-table [checkedId]="checkedSupplier?.row?.id" [displayCheckbox]="true" (onCheckedClicked)="onChecked($event)"
      [actions]="tableActions" [columnsWidth]="COLUMNS_WIDTH" [fieldsNames]="fieldsName"
      [columnsToIgnore]="COLUMNS_TO_IGNORE" [rows]="suppliersList" [inputSearchLable]="'חיפוש לפי ספק'" (filterBy)="filterSuppliers($event)"></app-table>
    </ng-container>
    
    <app-button *ngIf="suppliersList" (onButtonClicked)="selectedSupplier()" [buttonText]="'בחר'" [disabled]="!checkedSupplier"></app-button>
  </div>

  <ng-template #notSuppliers>
    <p class="not-suppliers-text">אין ספקים שמורים</p>
  </ng-template>
  <ng-template #loader>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>