<app-custom-toolbar></app-custom-toolbar>



<ion-content [fullscreen]="true">
  <div class="wrap-screen">
    <!-- <app-search-bar class="generic-searchbar-wrapper" 
      (onSearchClick)="onSubmit()" [customTemplate]="docCreateTemplate">
    </app-search-bar> -->
    <app-generic-select class="default-input-doc" title="בחר מסמך" [items]="DocCreateTypeList"
      (selectionChanged)="onSelectedDoc($event)">
    </app-generic-select>
  </div>
  <div *ngIf="fileSelected && !isInitial; else initialTemplate">
    <p>{{HebrewNameFileSelected}} מספר: {{docDetails?.currentIndex}}</p>

    <!-- General details card -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>נתוני מסמך כלליים</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ng-container *ngFor="let field of generalDetailsFields">
            <ng-container [ngSwitch]="field.type">
              <ng-container *ngSwitchCase="formTypes.TEXT">
                <app-generic-input [inputLabel]="field.name" [controlName]="field.value" [parentForm]="docCreateForm"
                  [errorText]="field.errorText"></app-generic-input>
              </ng-container>

              <ng-container *ngSwitchCase="formTypes.DDL">
                <app-generic-input [inputLabel]="field.name" [controlName]="field.value" [parentForm]="docCreateForm"
                  [errorText]="field.errorText"></app-generic-input>
              </ng-container>

              <ng-container *ngSwitchCase="formTypes.DATE">
                <app-generic-input [inputLabel]="field.name" [controlName]="field.value" [parentForm]="docCreateForm"
                  [errorText]="field.errorText" [inputType]="formTypes.DATE"></app-generic-input>
              </ng-container>

            </ng-container>
          </ng-container>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- User details card -->
    <ion-card *ngIf="userDetailsFields.length > 0">
      <ion-card-header>
        <ion-card-title>פרטי לקוח</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-button buttonText="בחר לקוח" (onButtonClicked)="openSelectClients()"></app-button>
        <app-button buttonText="שמור לקוח" (onButtonClicked)="saveClient()"></app-button>
        <ion-list>
          <ng-container *ngFor="let field of userDetailsFields">
            <ng-container [ngSwitch]="field.type">
              <ng-container *ngSwitchCase="formTypes.TEXT">
                <app-generic-input [inputLabel]="field.name" [controlName]="field.value" [parentForm]="docCreateForm"
                  [errorText]="field.errorText"></app-generic-input>
              </ng-container>

              <ng-container *ngSwitchCase="formTypes.DDL">
                <app-generic-input [inputLabel]="field.name" [controlName]="field.value" [parentForm]="docCreateForm"
                  [errorText]="field.errorText"></app-generic-input>
              </ng-container>

              <ng-container *ngSwitchCase="formTypes.DATE">
                <app-generic-input [inputLabel]="field.name" [controlName]="field.value" [parentForm]="docCreateForm"
                  [errorText]="field.errorText" [inputType]="formTypes.DATE"></app-generic-input>
              </ng-container>

            </ng-container>
          </ng-container>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Payment details card -->
    <ion-card *ngIf="paymentDetailsFields.length > 0">
      <ion-card-header>
        <app-button [buttonText]="'Add'" (onButtonClicked)="addPayment()"></app-button>
        <ion-card-title>פרטי תשלום</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form *ngIf="paymentsForm" [formGroup]="getPaymentsForm">
          <ng-container *ngFor="let paymentGroup of paymentsFormArray.controls; let i = index" [formGroupName]="i">
            <ion-list class="payment-list">
              <app-button [buttonText]="'Remove'" (onButtonClicked)="removePayment(i)"></app-button>
              <ng-container *ngFor="let field of paymentDetailsFields; let index = index">
                <ng-container [ngSwitch]="field.type">
                  <ng-container *ngSwitchCase="formTypes.TEXT">
                    <app-generic-input class="default-input-doc" [inputLabel]="field.name" [controlName]="field.value"
                      [parentForm]="getPaymentFormByIndex(i)" (ionBlur)="onBlur(field.value, i)"
                      [errorText]="field.errorText"></app-generic-input>

                  </ng-container>

                  <ng-container *ngSwitchCase="formTypes.DDL">
                    <app-generic-select class="default-input-doc" [title]="field.name" [controlName]="field.value"
                      [parentForm]="getPaymentFormByIndex(i)" [errorText]="field.errorText"
                      [items]="onDdlSelectionChange(field.value)"
                      (selectionChanged)="onVatOptionChange($event, i)"></app-generic-select>
                  </ng-container>

                  <ng-container *ngSwitchCase="formTypes.DATE">
                    <app-generic-input class="default-input-doc" [inputLabel]="field.name" [controlName]="field.value"
                      [parentForm]="getPaymentFormByIndex(i)" [errorText]="field.errorText"
                      [inputType]="formTypes.DATE"></app-generic-input>
                  </ng-container>

                </ng-container>
              </ng-container>
            </ion-list>

          </ng-container>
        </form>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>סה"כ לתשלום</ion-card-title>
      </ion-card-header>
      <div class="wrap-amount">
        <p>amount before vat: {{amountBeforeVat}}&nbsp;&nbsp;</p>
        <p>vat amount: {{vatAmount}}&nbsp;&nbsp;</p>
        <p>total amount: {{totalAmount}}</p>
      </div>
    </ion-card>
  </div>
  <app-button [buttonText]="'Create'" (onButtonClicked)="createDoc()" [isLoading]="createPDFIsLoading"></app-button>
  <app-button [buttonText]="'Preview'" (onButtonClicked)="previewtDoc()"
    [isLoading]="createPreviewPDFIsLoading"></app-button>
  <!-- <app-button [buttonText]="'Add'" (onButtonClicked)="addDoc()" [isLoading]="addPDFIsLoading"></app-button> -->
</ion-content>

<ng-template #initialTemplate>
  <ng-container *ngIf="fileSelected">

    <p>
      היי תמיד יש פעם ראשונה...
      <br />
      כמה הגדרות קצרות ונמשיך להפקת ה{{HebrewNameFileSelected}}
    </p>
    <form class="" [formGroup]="initialDetailsForm">
      <app-generic-input inputLabel="באיזה מספר סידורי תרצה להתחיל?" [parentForm]="initialDetailsForm"
        controlName="initialIndex" errorText="מספרים בלבד"></app-generic-input>
    </form>
    <app-button buttonText="Save" (onButtonClicked)="onClickInitialIndex()"
      [disabled]="initialDetailsForm.invalid"></app-button>
  </ng-container>
</ng-template>