<div class="page-wrapper">

  <div class="section">

    <div class="create-doc-header">
      <div class="icon-title">
        <span class="title">הפקת מסמך</span>
      </div>
      <p class="text-header">
        בחר איזה מסמך ברצונך להפיק   
      </p>
      <app-input-select [controlName]="'docType'" labelText="סוג המסמך" [placeholder]="'בחר את סוג המסמך'" [items]="DocCreateTypeList" [parentForm]="generalDocForm" [size]="inputsSize.BETWEEN" (onChangeInputSelect)="onSelectedDoc($event)"></app-input-select>
    </div>

    @if (selectedDocType) {
    <div class="general-fields">

      <div class="section-one">
        <app-input-date [controlName]="'docDate'" labelText="תאריך המסמך" placeholder="00/00/0000" [parentForm]="generalDocForm"></app-input-date>
        <app-input-text [controlName]="'docDescription'" labelText="תיאור המסמך" [placeholder]="'תיאור המסמך'" [parentForm]="generalDetailsForm" [size]="inputsSize.BETWEEN"></app-input-text>
      </div>

      <div>
        @if (showGeneralMoreFields) {
          <app-input-text [controlName]="'docVatRate'" labelText="אחוז המעמ" [placeholder]="'אחוז המעמ'" [parentForm]="generalDocForm" [size]="inputsSize.BETWEEN" [customStyle]="'fill-border'"></app-input-text>
        }
      </div>

      <div>
        <app-p-button class="pnl-pdf-button"
          [buttonText]="showGeneralMoreFields ? 'הסתר שדות' : ' הצג הכל'"
          [variant]="'text'"
          [severity]="'info'"
          [buttonSize]="buttonSize.AUTO"
          (onButtonClicked)="showGeneralMoreFields = !showGeneralMoreFields">
        </app-p-button>
      </div>

    </div>
    }

  </div>

  <div class="section">

    <div class="create-doc-header">
      <div class="icon-title">
        <span class="title">פרטי הלקוח</span>
      </div>
    </div>

    <div class="general-fields">

      <div class="section-one">
        <app-input-text [controlName]="'customerName'" labelText="שם הלקוח" [placeholder]="'הקלד שם לבחירת לקוח קיים'" [parentForm]="customerDocForm" [size]="inputsSize.BETWEEN"></app-input-text>
        <app-input-text [controlName]="'customerId'" labelText="ת.ז או ח.פ" [placeholder]="'הקלד 9 ספרות'" [parentForm]="customerDocForm" [size]="inputsSize.BETWEEN"></app-input-text>
        <app-input-text [controlName]="'customerPhone'" labelText="טלפון נייד" [placeholder]="'הקלד 10 ספרות'" [parentForm]="customerDocForm" [size]="inputsSize.BETWEEN"></app-input-text>
        <app-input-text [controlName]="'customerEmail'" labelText="כתובת אימייל" [placeholder]="'name@gmail.com'" [parentForm]="customerDocForm" [size]="inputsSize.BETWEEN"></app-input-text>
      </div>

      <div>
        @if (showUserMoreFields) {
          <app-input-text [controlName]="'docVatRate'" labelText="אחוז המעמ" [placeholder]="'אחוז המעמ'" [parentForm]="generalDetailsForm" [size]="inputsSize.BETWEEN" [customStyle]="'fill-border'"></app-input-text>
        }
      </div>

      <div>
        <app-p-button class="pnl-pdf-button"
          [buttonText]="showUserMoreFields ? 'הסתר שדות' : 'הצג הכל'"
          [variant]="'text'"
          [severity]="'info'"
          [buttonSize]="buttonSize.AUTO"
          (onButtonClicked)="showUserMoreFields = !showUserMoreFields">
        </app-p-button>
      </div>

    </div>

  </div>

  <div class="section">

    <div class="create-doc-header">
      <div class="icon-title">
        <span class="title">פירוט</span>
      </div>
    </div>

    <div class="line-item-row">

      <!-- Row of field titles -->
      <div class="fields-grid fields-header">
        <div>תיאור</div>
        <div>כמות</div>
        <div>מע״מ</div>
        <div>סכום</div>
        <div>הנחה</div>
        <div>פעולה</div>
      </div>

      <!-- Line below headers -->
      <hr class="fields-divider" />


      <form [formGroup]="linesDocForm">

        <div class="fields-grid fields-row">

          <!-- תיאור -->
          <app-input-text [controlName]="'lineDescription'" [placeholder]="'אנא מלא את התיאור'" [parentForm]="linesDocForm" [size]="inputsSize.BETWEEN"></app-input-text>

          <!-- כמות -->
          <p-inputnumber class="plus-minus" formControlName="lineQuantity" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [inputStyle]="{ width: '3rem' }">
          <ng-template #incrementbuttonicon>
            <span class="pi pi-plus"></span>
          </ng-template>
          <ng-template #decrementbuttonicon>
            <span class="pi pi-minus"></span>
          </ng-template>
          </p-inputnumber>

          <!-- מע"מ -->
          <div class="gender-options-row">
            <div class="vat-option">
              <p-radiobutton formControlName="lineVatType" value="with" name="lineVatType" inputId="with" />
              <label for="with" class="ml-2">כולל מע"מ</label>
            </div>
            <div class="vat-option">
              <p-radiobutton formControlName="lineVatType" value="before" name="lineVatType" inputId="before" />
              <label for="before" class="ml-2">לא כולל מע"מ</label>
            </div>
            <div class="vat-option">
              <p-radiobutton formControlName="lineVatType" value="without" name="lineVatType" inputId="without" />
              <label for="without" class="ml-2">ללא מע"מ</label>
            </div>
          </div>

          <!-- סכום -->
          <app-input-text [controlName]="'lineSum'" [placeholder]="'סכום'" [parentForm]="linesDocForm" [size]="inputsSize.BETWEEN"></app-input-text>
          
          <!-- הנחה -->
          <app-input-text [controlName]="'lineDiscount'" [placeholder]="'הנחה'" [parentForm]="linesDocForm" [size]="inputsSize.BETWEEN"></app-input-text>

          <!-- <app-p-button [buttonText]="'₪'" [buttonSize]="buttonSize.AUTO" [buttonColor]="buttonColor.BLACK" (onButtonClicked)="linesDocForm?.get('lineDiscountType')?.setValue('₪')"></app-p-button>
          <app-p-button [buttonText]="'%'" [buttonSize]="buttonSize.AUTO" [buttonColor]="buttonColor.BLACK" (onButtonClicked)="linesDocForm?.get('lineDiscountType')?.setValue('%')"></app-p-button> -->

          <app-p-button class="pnl-pdf-button"
            [buttonText]="'הוסף שורה'"
            [variant]="'text'"
            [severity]="'info'"
            [buttonSize]="buttonSize.AUTO"
            (onButtonClicked)="onAddLine()">
          </app-p-button>

        </div>

      </form>

    </div>

    @if (lineItems.length > 0) {
      <div class="line-items-table">

        <!-- כותרת -->
        <div class="line-row header">
          <div>תיאור</div>
          <div>כמות</div>
          <div>מע״מ</div>
          <div>סכום</div>
          <div>הנחה</div>
        </div>

        <hr class="fields-divider" />

        <!-- שורות -->
        @for (line of lineItems; track $index; let i = $index) {
          <div class="line-row">
            <div>{{ line.description }}</div>
            <div>{{ line.unitAmount }}</div>
            <div>{{ getVatLabel(line.vatOpts) }}</div>
            <div>{{ line.sum | currency:'ILS' }}</div>
            <div>{{ line.discount || '-' }}</div>
            <div class="actions">
              <i class="pi pi-trash" (click)="deleteLine(i)"></i>
            </div>
          </div>
        }

      </div>
    }


  </div>

  <div class="section">

    <div class="create-doc-header">
      <div class="icon-title">
        <span class="title">פרטי התשלום</span>
      </div>
    </div>

  </div>


  <div class="section send-button-wrapper">
    <app-p-button
      [buttonText]="'שלח מסמך'"
      [buttonSize]="buttonSize.AUTO"
      [disabled]="!generalDetailsForm.valid || !customerDocForm.valid">
    </app-p-button>
  </div>

</div>