.page-wrapper {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid 1px red;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: solid 1px green;
  gap: 20px;
}

// .client-section {
//   display: flex;
//   flex-direction: column;
//   border: solid 1px green;
// }

// .details-section {
//   display: flex;
//   flex-direction: column;
//   border: solid 1px green;
// }

// .payment-section {
//   display: flex;
//   flex-direction: column;
//   border: solid 1px green;
// }

.general-fields {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

// .create-doc-wrap-screen {
//   width: 100%;
//   height: 95%;
//   display: flex;
//   flex-direction: column;
//   align-items: left;
//   padding-right: 50px;
// }

.create-doc-header {
  display: flex;
  flex-direction: column;
  text-align: right;
  // margin-top: 100px;
  // border: solid 1px green;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
}

.text-header {
  font-size: 1.2rem;
  color: #666;
  margin-top: 0.5rem;
}

.general-details {
  width: 30%;
  height: 95%;
  display: flex;
  flex-direction: row;
//   align-items: left;
  border: solid 1px green;
  justify-content: space-around;
}

.default-input-doc {
    width: 200px;
}

.payment-list {
    display: flex;
    flex-direction: column;
}

.inputs-container {
    display: flex;
}

.wrap-amount {
    display: flex;
}