<div class="page-wrapper">

  <!-- בחירת עסק -->
  <!-- <p-dialog header="בחירת עסק" [(visible)]="showBusinessSelector" [modal]="true" [closable]="false"
    [dismissableMask]="false" [rtl]="true" [style]="{ width: '400px' }">
    <div class="p-fluid">
      <p>היי! זיהינו שיש לך יותר מעסק אחד .<br />באיזה עסק תרצה להפיק את המסמך?</p>
      <div *ngFor="let business of businessUiList">
        <p-radioButton name="businessSelection" [value]="business.value" [(ngModel)]="selectedBusinessNumber"
          inputId="{{ business.value }}"></p-radioButton>
        <label [for]="business.value" class="ml-2">{{ business.name }}</label>
      </div>
      <div class="p-mt-3">
        <app-p-button [buttonText]="'אישור'" [buttonSize]="buttonSize.AUTO" [disabled]="!selectedBusinessNumber"
          (onButtonClicked)="onConfirmBusinessSelection()"></app-p-button>
      </div>
    </div>
  </p-dialog> -->
  <!-- Dialog for initial index -->
  @if (isInitial) {
  <p-dialog header="הגדרת מספור" [(visible)]="showInitialIndexDialog" [modal]="true" [rtl]="true"
    [style]="{ width: '400px' }">
    <div class="p-fluid">
      <p>
        היי..<br />
        זוהי הפעם הראשונה שאתה מפיק במערכת <strong>{{ HebrewNameFileSelected }}</strong>.<br />
        אנא בחר את המספור בו תרצה להתחיל:
      </p>
      <div class="p-field">
        <label for="index">מספר התחלה</label>
        <app-input-text [controlName]="'initialIndex'" labelText="" [placeholder]="''" [parentForm]="initialIndexForm"
          [size]="inputsSize.BETWEEN"></app-input-text>
      </div>
      <div>
        <app-p-button [buttonText]=" 'אישור'" [buttonSize]="buttonSize.AUTO"
          (onButtonClicked)="onClickInitialIndex()"></app-p-button>
      </div>
    </div>
  </p-dialog>
  }
  <!-- Document type selection -->
  <div class="section">
    <div class="create-doc-header">
      <div class="icon-title">
        <span class="title">הפקת מסמך</span>
      </div>
      <p class="text-header">
        בחר איזה מסמך ברצונך להפיק
      </p>
    </div>
    <div class="general-fields">
      <div class="user-details-section">
        @for (item of generalArray; track item.value) {
        @switch (item.type) {

        @case (formTypes.DDL) {
        @if (item.value !== FieldsCreateDocValue.BUSINESS_NUMBER || showBusinessSelector) {
          <app-input-select [controlName]="item.value" [labelText]="item.labelText" [placeholder]="item.placeHolder"
            [items]="item.labelText === 'עסק' ? businessUiList : item.enumValues" [parentForm]="generalDetailsForm"
            [size]="inputsSize.MEDIUM" (onChangeInputSelect)="onSelectionChange(item.value, $event)" [disabled]="
    item.value === 'docType' && !generalDetailsForm.get('businessNumber')?.value">
          </app-input-select>
        }
        }

        @case (formTypes.DATE) {
        <app-input-date [controlName]="item.value" [labelText]="item.labelText" placeholder="00/00/0000"
          [parentForm]="generalDetailsForm" [size]="inputsSize.MEDIUM">
        </app-input-date>
        }

        @default {
        @if (item.value !== FieldsCreateDocValue.DOC_VAT_RATE || isGeneralExpanded) {
        <app-input-text [controlName]="item.value" [value]="item.initialValue" [labelText]="item.labelText"
          [placeholder]="item.placeHolder" [parentForm]="generalDetailsForm" [size]="inputsSize.BETWEEN" [type]="
          item.type === formTypes.NUMBER ? 'number' : 'text'"></app-input-text>
        }
        }

        }
        }
      </div>
      <div>
        <app-p-button class="pnl-pdf-button" [buttonText]="isGeneralExpanded ? 'הסתר שדות' : 'הצג שדות נוספים'"
          [variant]="'text'" [severity]="'info'" [buttonSize]="buttonSize.AUTO"
          (onButtonClicked)="expandGeneralDetails()">
        </app-p-button>
      </div>
    </div>

    <!-- Recipient details section -->
    @if (isFileSelected()) {
    <div class="section">
      <div class="create-doc-header">
        <div class="icon-title">
          <span class="title">פרטי הלקוח</span>
        </div>
      </div>
      <div class="general-fields">
        <div class="user-details-section">
          @for (item of userArray; track item.value) {
          @switch (item.type) {

          @case (formTypes.DDL) {
          <app-input-select [controlName]="item.value" [labelText]="item.labelText" [placeholder]="item.placeHolder"
            [items]="item.enumValues" [parentForm]="userDetailsForm" [size]="inputsSize.BETWEEN">
          </app-input-select>
          }

          @case (formTypes.DATE) {
          <app-input-date [controlName]="item.value" [labelText]="item.labelText" placeholder="00/00/0000"
            [parentForm]="userDetailsForm">
          </app-input-date>
          }

          @default {
          <app-input-text [controlName]="item.value" [labelText]="item.labelText" [placeholder]="item.placeHolder"
            [parentForm]="userDetailsForm" [size]="inputsSize.BETWEEN" [type]="
          item.type === formTypes.NUMBER ? 'number' :
          'text'
        ">
          </app-input-text>
          }

          }
          }
          <!-- <app-input-text [controlName]="'recipientName'" labelText="שם הלקוח" [placeholder]="'לדוגמא: א.ב. צינורות'"
          [parentForm]="recipientDocForm" [size]="inputsSize.BETWEEN"></app-input-text>
        <app-input-text [controlName]="'recipientId'" labelText="ת.ז או ח.פ" [placeholder]="'הקלד 9 ספרות'"
          [parentForm]="recipientDocForm" [size]="inputsSize.BETWEEN"></app-input-text>
        <app-input-text [controlName]="'recipientPhone'" labelText="טלפון נייד" [placeholder]="'הקלד 10 ספרות'"
          [parentForm]="recipientDocForm" [size]="inputsSize.BETWEEN"></app-input-text>
        <app-input-text [controlName]="'recipientEmail'" labelText="כתובת אימייל" [placeholder]="'name@gmail.com'"
          [parentForm]="recipientDocForm" [size]="inputsSize.BETWEEN"></app-input-text> -->
        </div>
        <div>
          <app-p-button class="pnl-pdf-button" [buttonText]="isUserExpanded ? 'הסתר שדות' : 'הצג שדות נוספים'"
            [variant]="'text'" [severity]="'info'" [buttonSize]="buttonSize.AUTO"
            (onButtonClicked)="expandUserDetails()">
          </app-p-button>
        </div>
      </div>
    </div>

    <!-- line details section -->
    <div class="section">
      <div class="create-doc-header">
        <div class="icon-title">
          <span class="title">פירוט</span>
        </div>
      </div>
      <div class="table-wrapper">
        <p-table [columns]="lineDetailsColumns" [value]="[{}]" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" style="color: gray;"
                [ngStyle]="col.field === FieldsCreateDocValue.VAT_OPTIONS ? { 'padding-right': '40px' } : {}">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [formGroup]="lineDetailsForm">
              <td *ngFor="let col of columns"
                [style.width]="col.field === FieldsCreateDocValue.LINE_DESCRIPTION ? '420px' : col.field === FieldsCreateDocValue.UNIT_AMOUNT ? '9%' : ''"
                [ngStyle]="col.field === FieldsCreateDocValue.VAT_OPTIONS ? { 'padding-right': '40px' } : {}">
                @switch (col.field) {

                @case (FieldsCreateDocValue.UNIT_AMOUNT) {
                <p-inputnumber [min]="1" class="plus-minus" [formControlName]="col.field" [showButtons]="true"
                  buttonLayout="horizontal" spinnerMode="horizontal"
                  [inputStyle]="{ width: '3rem', 'text-align': 'center' }"
                  [ngStyle]="{display: 'flex', 'flex-direction': 'row-reverse'}">
                  <ng-template #decrementbuttonicon>
                    <span class="pi pi-minus"></span>
                  </ng-template>
                  <ng-template #incrementbuttonicon>
                    <span class="pi pi-plus"></span>
                  </ng-template>

                </p-inputnumber>
                }

                @case (FieldsCreateDocValue.VAT_OPTIONS) {
                <div class="gender-options-row" role="radiogroup" [attr.aria-labelledby]="'vat-label'">
                  @for (opt of vatOptions; track opt.value; let i = $index) {
                  <!-- Make 'name' and 'inputId' unique per row to prevent cross-row grouping -->
                  <div class="vat-option">
                    <p-radiobutton [formControlName]="col.field" [value]="opt.value" [name]="col.field"
                      [inputId]="col.field + '-' + opt.value" />
                    <label class="ml-2" [for]="col.field + '-' + opt.value">{{ opt.name }}</label>
                  </div>
                  }
                </div>
                }

                @case ('action') {
                <app-p-button class="pnl-pdf-button" [buttonText]="'הוסף שורה'" [variant]="'text'" [severity]="'info'"
                  [buttonSize]="buttonSize.AUTO" [disabled]="!lineDetailsForm.valid"
                  (onButtonClicked)="addLineDetails()">
                </app-p-button>
                }

                @default {
                <app-input-text [controlName]="col.field" [placeholder]="col.header" [parentForm]="lineDetailsForm"
                  [type]="col.field === FieldsCreateDocValue.LINE_DESCRIPTION ? 'text' : 'number'"
                  [size]="col.field === FieldsCreateDocValue.LINE_DESCRIPTION ? inputsSize.LARGE : inputsSize.SMALL"></app-input-text>
                }

                }
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      @if (lineItemsDraft().length > 0) {
      <div class="line-items-table">
        <!-- כותרת -->
        <div class="line-row header">
          <div>תיאור</div>
          <div>כמות</div>
          <div>מע״מ</div>
          <div>סכום</div>
          <div>הנחה (ש"ח)</div>
        </div>
        <hr class="fields-divider" />
        <!-- שורות -->
        @for (line of lineItemsDraft(); track $index; let i = $index) {
        <div class="line-row content">
          <div>{{ line.description }}</div>
          <div>{{ line.unitQuantity }}</div>
          <div>{{ getVatLabel(line.vatOpts) }}</div>
          <div>{{ line.sum | currency:'ILS' }}</div>
          <div>{{ line.discount || '-' }}</div>
          <div class="actions">
            <app-p-button [buttonColor]="buttonColor.TRANSPARET"  [buttonSize]="buttonSize.ICON" [iconOnly]="true" [icon]="'pi pi-trash'" (onButtonClicked)="deleteLine(i)"></app-p-button>
          </div>
        </div>
        }

        <div class="totals-summary">
          <div class="keys-summary">
            <p class="content-summary"> חייב במע"מ</p>
            <p class="content-summary">ללא מע"מ</p>
            <p class="content-summary">מע"מ</p>
            <p class="content-summary">הנחה (ש"ח)</p>
            <p class="content-summary">סה"כ לתשלום</p>
          </div>
          <div class="values-summary">
            <p class="content-summary"> {{amountSubjectToVAT | number:'1.2-2'}} ש"ח </p>
            <p class="content-summary"> {{totalNonVATAmount | number:'1.2-2'}} ש"ח </p>
            <p class="content-summary"> {{totalVatAmount | number:'1.2-2'}} ש"ח </p>
            <p class="content-summary"> {{totalDiscount | number:'1.2-2'}} ש"ח </p>
            <p class="content-summary"> {{totalAmount() | number:'1.2-2'}} ש"ח </p>
          </div>
        </div>
      </div>
      }
    </div>

    <!-- payments -->
    @if (isDocWithPayments()) {

    <div class="section">

      <!-- Section Header -->
      <div class="create-doc-header">
        <div class="icon-title">
          <span class="title">תשלומים</span>
        </div>
      </div>

      <!-- Tab Menu for Payment Method -->
      <p-tabMenu [model]="paymentMethodOptions" [activeItem]="activePaymentMethod"
        (activeItemChange)="onPaymentMethodChange($event)">
      </p-tabMenu>

      <!-- Payment Entry Row -->
      <div class="line-item-row">

        <!-- Header Row -->
        <div class="fields-grid fields-header">
          @for (item of getPaymentFields(activePaymentMethod.id); track item.value) {
          <div>{{ item.labelText || item.value }}</div>
          }
        </div>

        <hr class="fields-divider" />

        <!-- Input Row -->
        <form [formGroup]="paymentInputForm">
          <div class="fields-grid fields-row">
            @for (item of getPaymentFields(activePaymentMethod.id); track item.value) {
            @switch (item.type) {
            @case (formTypes.DATE) {
            <app-input-date [controlName]="item.value" [placeholder]="item.placeHolder"
              [parentForm]="paymentInputForm"></app-input-date>
            }
            @case (formTypes.DDL) {
            <app-input-select [controlName]="item.value" [placeholder]="item.placeHolder" [items]="item.enumValues"
              [parentForm]="paymentInputForm" [size]="inputsSize.AUTO"></app-input-select>
            }
            @default {
            <app-input-text [controlName]="item.value" [placeholder]="item.placeHolder" [parentForm]="paymentInputForm"
              [type]="item.type === formTypes.NUMBER ? 'number' : 'text'" [min]="1" [size]="inputsSize.SMALL"></app-input-text>
            }
            }
            }

            <!-- Add Button -->
            <app-p-button class="pnl-pdf-button" [buttonText]="'הוסף תשלום'" [variant]="'text'" [severity]="'info'"
              [buttonSize]="buttonSize.AUTO" [disabled]="!paymentInputForm.valid" (onButtonClicked)="addPayment()">
            </app-p-button>
          </div>
        </form>

      </div>

      <!-- Display Added Payments -->
      @if (paymentsDraft().length > 0) {
      <div class="line-items-table">
        <!-- Payment Rows (each with its own header based on its method) -->
        @for (payment of paymentsDraft(); track $index) {
        <div class="line-row header">
          @for (item of getPaymentFields(payment.paymentMethod); track item.value) {
          <div>{{ item.labelText || item.value }}</div>
          }
        </div>

        <hr class="fields-divider" />

        <div class="line-row">
          @for (item of getPaymentFields(payment.paymentMethod); track item.value) {
          <div>
            {{ item.type === formTypes.DATE
            ? (payment[item.value] | date:'dd/MM/yyyy')
            : (
            item.value === 'bankName'
            ? (
            payment.hebrewBankName && payment.bankNumber
            ? (payment.hebrewBankName + ' (' + payment.bankNumber + ')')
            : (payment.hebrewBankName || payment.bankNumber || '-')
            )
            : (payment[item.value] || '-')
            )
            }}
          </div>
          }
            <div class="actions">
            <app-p-button [buttonColor]="buttonColor.TRANSPARET" [buttonSize]="buttonSize.ICON" [iconOnly]="true" [icon]="'pi pi-trash'" (onButtonClicked)="deletePayment($index)"></app-p-button>
          </div>
        </div>
        }
      </div>
      }
      @if (!isPaymentsEqualToCharges()) {
      <p class="error-text">סכום התשלומים חייב להיות זהה לסכום החיובים </p>
      }
    </div>
    }
    <!-- @if (fileSelected) { -->
    <div class="buttons-container">
      <div>
        <app-p-button class="pnl-pdf-button" [buttonText]="'תצוגה מקדימה'" [buttonSize]="buttonSize.SMALL"
          [buttonColor]="buttonColor.WHITE_BORDER" [disabled]="!createDocIsValid()" (onButtonClicked)="previewDoc()">
        </app-p-button>
      </div>
      <div>
        <app-p-button class="pnl-pdf-button" [buttonText]="'צור מסמך'" [buttonSize]="buttonSize.SMALL"
          [disabled]="!createDocIsValid()" (onButtonClicked)="createDoc()" [buttonColor]="buttonColor.BLACK">
        </app-p-button>
      </div>

    </div>
    }

  </div>




  <ng-template #initialTemplate>
    <ng-container *ngIf="fileSelected">

      <p>
        היי תמיד יש פעם ראשונה...
        <br />
        כמה הגדרות קצרות ונמשיך להפקת ה{{HebrewNameFileSelected}}
      </p>
      <form class="" [formGroup]="initialIndexForm">
        <app-generic-input inputLabel="באיזה מספר סידורי תרצה להתחיל?" [parentForm]="initialIndexForm"
          controlName="initialIndex" errorText="מספרים בלבד"></app-generic-input>
      </form>
      <!-- <app-button buttonText="Save" (onButtonClicked)="onClickInitialIndex()"
        [disabled]="initialIndexForm.invalid"></app-button> -->
    </ng-container>
  </ng-template>