<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <p class="regidter-toolbar">עצמאי בעצמי - לחסוך כסף להרוויח זמן!</p>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="register-content">
    <ng-container *ngIf="authService.error$ | async as errorType">
      <ng-container [ngSwitch]="errorType">
        <ng-container *ngSwitchCase=" 'email' ">
          <p class="text-error">
            כתובת מייל לא חוקית
          </p>
        </ng-container>
        <ng-container *ngSwitchCase=" 'user' ">
          <p class="text-error">
            לא ניתן להירשם עם מייל זה
            <br>
            כתובת המייל כבר קיימת במערכת
          </p>
        </ng-container>
        <ng-container *ngSwitchCase=" 'net' ">
          <p class="text-error">אין חיבור לאינטרנט אנא נסה מאוחר יותר

          </p>
        </ng-container>
        <ng-container *ngSwitchCase=" 'disabled' ">
          <p class="text-error">
            לא ניתן לשלוח אימות למייל
            <br>
            חשבון משתמש מושבת / לא קיים חשבון מייל כזה במערכת
          </p>
        </ng-container>
        <ng-container *ngSwitchCase=" 'many' ">
          <p class="text-error">
            לא ניתן לשלוח כעת אימות למייל
            <br>
            אנא נסה מאוחר יותר
          </p>
        </ng-container>
      </ng-container>
    </ng-container>

    <app-item-navigate class="navigate-item-container" [navigationItems]="itemsNavigate"
      (onNavButtonClicked)="navigateclicked($event)"></app-item-navigate>

    <!-------------- PRESONAL MODULE ------------->
    <ng-container [ngSwitch]="selectedFormModule">
      <ng-container *ngSwitchCase="registerFormModules.PERSONAL">
        <form *ngIf="personalForm" class="form-register" [formGroup]="personalForm">
          <!---------first name----->
          <ion-input class="input-register" label="שם פרטי" clear-input="true" spellcheck="true" slot="end" type="text"
            label-placement="floating" fill="outline" placeholder="שם פרטי"
            [formControlName]="registerFormControls.FIRSTNAME"></ion-input>
          <!--------last name------->
          <ion-input class="input-register" type="text" label="שם משפחה" label-placement="floating" fill="outline"
            placeholder="שם משפחה" [formControlName]="registerFormControls.LASTNAME"></ion-input>
          <!-------id number------->
          <ion-input class="input-register" type="text" label="תעודת זהות" label-placement="floating" fill="outline"
            placeholder="תעודת זהות" [formControlName]="registerFormControls.ID"></ion-input>
          <!-----email ---->
          <ion-input class="input-register" type="email" label="כתובת מייל" label-placement="floating" fill="outline"
            placeholder="אימייל" [formControlName]="registerFormControls.EMAIL">
          </ion-input>
          <!----phone ----->
          <ion-input class="input-register" type="tel" label="מספר פלאפון" label-placement="floating" fill="outline"
            placeholder="מספר פלאפון" [formControlName]="registerFormControls.PHONE">
          </ion-input>
          <!-----date of birth----->
          <ion-input class="input-register" type="date" [max]="today" label-placement="floating" fill="outline"
            label="תאריך לידה" [formControlName]="registerFormControls.DATEOFBIRTH"></ion-input>
          <!---------city ----->
          <!-- <ion-select class="input-register" formControlName="city" label="עיר" placeholder="עיר" label-placement="floating" fill="outline"  interface="action-sheet">
              <ion-select-option *ngFor="let city of cities">{{city.name}}</ion-select-option>
            </ion-select> -->
            <ion-item>
              <ion-label>עיר</ion-label>
              <ionic-selectable
                formControlName="city"
                [shouldFocusSearchbar]="true"
                [searchDebounce]="1"
                [items]="cities"
                itemValueField="name"
                itemTextField="name"
                [canSearch]="true"
                (onChange)="portChange($event)">
              </ionic-selectable>
            </ion-item>
          <!--------------- employee ------------->
          <ion-select [formControlName]="registerFormControls.EMPLOYEE" class="input-register" label="סטטוס תעסוקתי"
            fill="outline" label-placement="floating" interface="popover">
            <ion-select-option *ngFor="let option of EmploymentStatusList"
              [value]="option.value">{{option.key}}</ion-select-option>
          </ion-select>
          <!--------- family status----->
          <ion-select [formControlName]="registerFormControls.FAMILYSTATUS" class="input-register" label="מצב משפחתי"
            fill="outline" label-placement="floating" interface="popover">
            <ion-select-option value="0">רווק</ion-select-option>
            <ion-select-option value="1">נשוי</ion-select-option>
            <ion-select-option value="2">גרוש</ion-select-option>
          </ion-select>
        </form>
      </ng-container>

      <!-------------- SPOUSE MODULE ------------->
      <ng-container *ngSwitchCase="registerFormModules.SPOUSE">
        <form *ngIf="spouseForm" class="form-register" [formGroup]="spouseForm">
          <!-------first name------>
          <ion-input class="input-register" type="text" label="שם פרטי" label-placement="floating" fill="outline"
            placeholder="שם פרטי בן / בת הזוג" [formControlName]="registerFormControls.SPOUSEFIRSTNAME"></ion-input>
          <!--------last name------->
          <ion-input class="input-register" type="text" label="שם משפחה" label-placement="floating"
            fill="outline" placeholder="הכנס שם משפחה"
            [formControlName]="registerFormControls.SPOUSELASTNAME"></ion-input>
          <!-------id number------->
          <ion-input class="input-register" type="text" label="תעודת זהות" label-placement="floating"
            fill="outline" placeholder="הכנס תעודת זהות" [formControlName]="registerFormControls.SPOUSEID"></ion-input>
          <!-----date of birth----->
          <ion-input class="input-register" type="date" [max]="today" label-placement="floating" fill="outline"
            label="תאריך לידה" [formControlName]="registerFormControls.SPOUSEDATEOFBIRTH"></ion-input>
          <!-------- phone------->
          <ion-input class="input-register" type="text" label="מספר פלאפון" label-placement="floating" fill="outline"
            placeholder="פלאפון" [formControlName]="registerFormControls.SPOUSEPHONE"></ion-input>
          <!---independet || employee---->
          <ion-select [formControlName]="registerFormControls.SPOUSEINDEPENDET" class="input-register"
            label="סטטוס תעסוקתי" fill="outline" label-placement="floating" interface="popover">
            <ion-select-option *ngFor="let option of EmploymentStatusList"
              [value]="option.value">{{option.key}}</ion-select-option>
          </ion-select>
        </form>
      </ng-container>

      <!-------------- CHILDREN MODULE ------------->
      
      
        <ng-container *ngSwitchCase="registerFormModules.CHILDREN">
          <ng-container *ngIf="childrenArray.controls.length == 0; else children">
            <ion-item>
              <ion-label>הוסף ילד</ion-label>
              <ion-icon (click)="addChild()" size="large" name="add-circle-outline"></ion-icon>
            </ion-item>
          </ng-container>
          <ng-template #children>
          <form *ngIf="childrenForm" class="form-register" [formGroup]="childrenForm">
            <!-- add ngIf childrenArray length  == 0 display button to add child else  -->
            <div [formArrayName]="registerFormControls.CHILDREN">
              <div *ngFor="let child of childrenArray.controls; let i = index" [formGroupName]="i" class="child-row">
                <!-------Fname of child----->
                <ion-input class="input-register-child" type="text" label="שם פרטי של הילד" label-placement="floating"
                  fill="outline" placeholder="שם פרטי" formControlName="childFName"></ion-input>
                <!-------Lname of child----->
                <ion-input class="input-register-child" type="text" label="שם משפחה של הילד" label-placement="floating"
                  fill="outline" placeholder="שם משפחה" formControlName="childLName"></ion-input>
                <!-------id of child----->
                <ion-input class="input-register-child" type="text" label="תעודת זהות של הילד"
                  label-placement="floating" fill="outline" placeholder="תעודת זהות"
                  formControlName="childID"></ion-input>

                <!-------dateBirth of child----->
                <ion-input class="input-register-child" type="date" [max]="today" label-placement="floating"
                  fill="outline" label="תאריך לידה" formControlName="childDate"></ion-input>
                <!------- buttons add and remove child----->
                <div class="add-icon" (click)="addChild()"><ion-icon name="add-circle"></ion-icon></div>
                <div class="add-icon" (click)="removeChild(i)"><ion-icon name="remove-circle"></ion-icon></div>
              </div>
            </div>
          </form>
        </ng-template>
        </ng-container>
        

        <!-------------- BUSINESS MODULE ------------->
        <ng-container *ngSwitchCase="registerFormModules.BUSINESS">
          <form *ngIf="businessForm" class="form-register" [formGroup]="businessForm">
            <!-------Business name------>
            <ion-input class="input-register" type="text" label="שם עסק" label-placement="floating" fill="outline"
              placeholder="הכנס שם עסק" fill="outline"
              [formControlName]="registerFormControls.BUSINESSNAME"></ion-input>
            <!--------------- Business fields ------------->
            <ion-select [formControlName]="registerFormControls.BUSINESSFIELD" class="input-register" label="תחום העסק"
              fill="outline" label-placement="floating" interface="popover">
              <ion-select-option *ngFor="let option of listBusinessField"
                [value]="option.key">{{option.value}}</ion-select-option>
            </ion-select>
            <!--------------- Business type ------------->
            <ion-select [formControlName]="registerFormControls.BUSINESSTYPE" class="input-register" label="סוג העסק"
              fill="outline" label-placement="floating" interface="popover">
              <ion-select-option *ngFor="let option of listBusinessType"
                [value]="option.key">{{option.value}}</ion-select-option>
            </ion-select>
            <!-------Business id------>
            <ion-input class="input-register" type="text" label="מספר עסק" label-placement="floating" fill="outline"
              placeholder="מספר עוסק / ח.פ ספק" [formControlName]="registerFormControls.BUSINESSID"></ion-input>
            <!------- business date ----->
            <ion-input class="input-register" type="date" [max]="today" label-placement="floating" fill="outline"
              label="תאריך פתיחת עסק" [formControlName]="registerFormControls.BUSINESSDATE"></ion-input>
            <!------- business inventory ----->
            <ion-select [formControlName]="registerFormControls.BUSINESSINVENTORY" class="input-register"
              label="האם העסק מנהל מלאי?" fill="outline" label-placement="floating" interface="popover">
              <ion-select-option *ngFor="let option of employeeList"
                [value]="option.value">{{option.name}}</ion-select-option>
            </ion-select>
          </form>
        </ng-container>

        <!-------------- VALIDATION MODULE ------------->
        <ng-container *ngSwitchCase="registerFormModules.VALIDATION">
          <form *ngIf="validationForm" class="form-register-validate" [formGroup]="validationForm">
            <ion-label>סיסמא חייבת לכלול שני תווים באנגלית ומספרים ולהיות לפחות באורך של שמונה תווים</ion-label>
            <ion-input class="input-register" (ionInput)="checkPassword()" type="text" label="סיסמא"
              label-placement="floating" fill="outline" placeholder="בחר סיסמא" formControlName="password"></ion-input>
            <ion-label *ngIf="!(this.passwordValid)">סיסמאות לא זהות</ion-label>
            <ion-input class="input-register" (ionInput)="changePasswordValidinput($event)" (ionInput)="checkPassword()"
              type="text" label="אימות סיסמא" label-placement="floating" fill="outline"
              placeholder="הכנס את הסיסמא פעם נוספת"></ion-input>
          </form>
        </ng-container>

    </ng-container>
    <div>
      <app-button buttonText="חזור" [disabled]="selectedFormModule === registerFormModules.PERSONAL"
        (onButtonClicked)="onBackBtnClicked()"></app-button>
      <app-button [buttonText]="buttonNextText"
        [disabled]="isNextButtonDisabled"
        (onButtonClicked)="onNextBtnClicked()"></app-button>
    </div>
    <div>
      משתמש קיים? לחץ <span (click)="navigateToLogin()" class="blue-link">כאן</span> לכניסה.
    </div>
  </div>
  <p>
  </p>
</ion-content>