
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh"></ion-refresher-content>
  </ion-refresher>
  
  <div class="register-content">
    <ng-container *ngIf="authService.error$ | async as errorType">
      <ng-container [ngSwitch]="errorType">
        <ng-container *ngSwitchCase=" 'email' ">
          <p class="text-error">
            כתובת מייל לא חוקית
          </p>
        </ng-container>
        <ng-container *ngSwitchCase=" 'user' ">
          <p class="text-error">
            לא ניתן להירשם עם מייל זה
            <br>
            כתובת המייל כבר קיימת במערכת
          </p>
        </ng-container>
        <ng-container *ngSwitchCase=" 'net' ">
          <p class="text-error">אין חיבור לאינטרנט אנא נסה מאוחר יותר

          </p>
        </ng-container>
        <ng-container *ngSwitchCase=" 'disabled' ">
          <p class="text-error">
            לא ניתן לשלוח אימות למייל
            <br>
            חשבון משתמש מושבת / לא קיים חשבון מייל כזה במערכת
          </p>
        </ng-container>
        <ng-container *ngSwitchCase=" 'many' ">
          <p class="text-error">
            לא ניתן לשלוח כעת אימות למייל
            <br>
            אנא נסה מאוחר יותר
          </p>
        </ng-container>
      </ng-container>
    </ng-container>

    <app-item-navigate class="navigate-item-container" [navigationItems]="itemsNavigate" [disableClick]="true"
    navigationItemStyle="button-item-navigate-register" (onNavButtonClicked)="navigateclicked($event)">
  </app-item-navigate>

    <div class="wrap-register-modulse">
      <!-------------- PRESONAL MODULE ------------->
      <ng-container [ngSwitch]="selectedFormModule">
        <ng-container *ngSwitchCase="registerFormModules.PERSONAL">
          <form *ngIf="personalForm" class="form-register" [formGroup]="personalForm">
            <!---------first name----->
            <app-generic-input class="default-input-register" inputLabel="שם פרטי" [controlName]="registerFormControls.FIRSTNAME"
              [parentForm]="personalForm" [errorText]="'אנא הכנס תווים בלבד'"></app-generic-input>
            <!--------last name------->
            <app-generic-input  class="default-input-register" inputLabel="שם משפחה" [controlName]="registerFormControls.LASTNAME"
              [parentForm]="personalForm" [errorText]="'אנא הכנס תווים בלבד'"></app-generic-input>
            <!-------id number------->
            <app-generic-input  class="default-input-register" inputLabel="תעודת זהות" [controlName]="registerFormControls.ID"
              [parentForm]="personalForm" [errorText]="'נא הכנס מספר באורך 9 ספרות'"></app-generic-input>
            <!-----email ---->
            <app-generic-input class="wide-input-register" [inputType]="formTypes.EMAIL" inputLabel="כתובת מייל"
              [controlName]="registerFormControls.EMAIL" [parentForm]="personalForm" [errorText]="'כתובת המייל לא חוקית'"
              ></app-generic-input>
            <!----phone ----->
            <app-generic-input  class="default-input-register" [inputType]="formTypes.TELEPHONE" inputLabel="מספר פלאפון"
              [controlName]="registerFormControls.PHONE" [parentForm]="personalForm" [errorText]="'מספר הפלאפון לא חוקי'"></app-generic-input>
            <!-----date of birth----->
            <app-generic-input  class="default-input-register" [inputType]="formTypes.DATE" inputLabel="תאריך לידה"
              [controlName]="registerFormControls.DATEOFBIRTH" [parentForm]="personalForm"></app-generic-input>
            <!-- city -->
            <app-multi-input class="default-input-register" [controlName]="'city'" [parentForm]="personalForm" [items]="cities" [title]="'עיר'"></app-multi-input>
            <!--------------- employee ------------->
            <app-generic-select class="default-input-register" [controlName]="registerFormControls.EMPLOYEMENTSTATUS" title="סטטוס תעסוקתי"
              [items]="employmentTypeOptionsList" [parentForm]="personalForm" (selectionChanged)="resetBusinessDetails()"></app-generic-select>
            <!--------- family status----->
            <app-generic-select class="default-input-register" [controlName]="registerFormControls.FAMILYSTATUS" title="מצב משפחתי"
              [items]="familyStatusOptionsList" [parentForm]="personalForm"></app-generic-select>
          </form>
        </ng-container>

        <!-------------- SPOUSE MODULE ------------->
        <ng-container *ngSwitchCase="registerFormModules.SPOUSE">
          <form *ngIf="spouseForm" class="form-register" [formGroup]="spouseForm">
            <!---------first name----->
            <app-generic-input class="default-input-register" inputLabel="שם פרטי בן / בת הזוג" [controlName]="registerFormControls.SPOUSEFIRSTNAME"
              [parentForm]="spouseForm" [errorText]="'אנא הכנס תווים בלבד'"></app-generic-input>
            <!--------last name------->
            <app-generic-input class="default-input-register" inputLabel="שם משפחה" [controlName]="registerFormControls.SPOUSELASTNAME"
              [parentForm]="spouseForm" [errorText]="'אנא הכנס תווים בלבד'"></app-generic-input>
            <!-------id number------->
            <app-generic-input class="default-input-register" inputLabel="תעודת זהות" [controlName]="registerFormControls.SPOUSEID"
              [parentForm]="spouseForm" [errorText]="'נא הכנס מספר באורך 9 ספרות'"></app-generic-input>
            <!----phone ----->
            <app-generic-input class="default-input-register" [inputType]="formTypes.TELEPHONE" inputLabel="מספר פלאפון"
              [controlName]="registerFormControls.SPOUSEPHONE" [parentForm]="spouseForm" [errorText]="'מספר הפלאפון לא חוקי'"></app-generic-input>
            <!-----date of birth----->
            <app-generic-input class="default-input-register" [inputType]="formTypes.DATE" inputLabel="תאריך לידה"
              [controlName]="registerFormControls.SPOUSEDATEOFBIRTH" [parentForm]="spouseForm"></app-generic-input>
            <!--------------- employee ------------->
            <app-generic-select class="default-input-register" [controlName]="registerFormControls.SPOUSEEMPLOYEMENTSTATUS" title="סטטוס תעסוקתי"
              [items]="employmentTypeOptionsList" [parentForm]="spouseForm" (selectionChanged)="resetBusinessSpouseDetails()"></app-generic-select>
          </form>
        </ng-container>

        <!-------------- CHILDREN MODULE ------------->
        <ng-container *ngSwitchCase="registerFormModules.CHILDREN">
          <ng-container *ngIf="childrenArray.controls.length == 0; else children">
            <app-button buttonText="הוסף ילד" iconName="add-circle-outline" iconPosition="end"
              [buttonClass]="ButtonClass.CLEAR" (onButtonClicked)="addChild()"></app-button>
          </ng-container>
          <ng-template #children>
            <form *ngIf="childrenForm" class="form-register" [formGroup]="childrenForm">
              <!-- add ngIf childrenArray length  == 0 display button to add child else  -->
              <div class="child-row-wrap" [formArrayName]="registerFormControls.CHILDREN">
                <div *ngFor="let child of childrenArray.controls; let i = index" [formGroupName]="i" class="child-row">
                  <!-------Fname of child----->
                  <app-generic-input class="default-input-register" inputLabel="שם פרטי של הילד/ה"
                    [controlName]="registerFormControls.CHILD_FIRST_NAME"
                    [parentForm]="getChildFormByIndex(i)" [errorText]="'אנא הכנס תווים בלבד'"></app-generic-input>
                  <!-------Lname of child----->
                  <app-generic-input class="default-input-register" inputLabel="שם משפחה של הילד/ה"
                    [controlName]="registerFormControls.CHILD_LAST_NAME"
                    [parentForm]="getChildFormByIndex(i)" [errorText]="'אנא הכנס תווים בלבד'"></app-generic-input>
                  <!-------id of child----->
                  <app-generic-input class="default-input-register" inputLabel="תעודת זהות של הילד/ה"
                    [controlName]="registerFormControls.CHILD_ID"
                    [parentForm]="getChildFormByIndex(i)" [errorText]="'נא הכנס מספר באורך 9 ספרות'"></app-generic-input>
                  <!-------dateBirth of child----->
                  <app-generic-input class="default-input-register" [inputType]="formTypes.DATE" inputLabel="תאריך לידה של הילד/ה"
                    [controlName]="registerFormControls.CHILD_DATE_OF_BIRTH"
                    [parentForm]="getChildFormByIndex(i)"></app-generic-input>
                  <!------- buttons add and remove child----->
                  <div class="wrap-add-remove-child-button">
                    <app-button class="child-button" aria-label="הוסף ילד" iconName="add-outline"
                    [buttonSize]="ButtonSize.X_SMALL" [buttonClass]="ButtonClass.ICON_ONLY"
                    (onButtonClicked)="addChild()"></app-button>
                    <app-button class="child-button" aria-label="הסר ילד" iconName="remove-outline"
                    [buttonSize]="ButtonSize.X_SMALL" [buttonClass]="ButtonClass.ICON_ONLY" [buttonStyle]="{}"
                    (onButtonClicked)="removeChild(i)"></app-button>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </ng-container>


        <!-------------- BUSINESS MODULE ------------->
        <ng-container *ngSwitchCase="registerFormModules.BUSINESS">
          <!-------Business name 1 ------>
          <div class="wrap-two-detial-business">
            <div class="wrap-one-detial-business">
              <div class="business-title" *ngIf="businessForm && isIndependent()">פרטי עסק משתמש/ת ראשי/ת</div>
              <form *ngIf="businessForm && isIndependent()" class="form-register" [formGroup]="businessForm">
                <app-generic-input class="default-input-register" inputLabel="שם עסק" [controlName]="registerFormControls.BUSINESSNAME"
                  [parentForm]="businessForm"></app-generic-input>
                <!--------------- Business type ------------->
                <app-generic-select class="default-input-register" [controlName]="registerFormControls.BUSINESSTYPE" title="סוג העסק"
                  [items]="businessTypeOptionsList" [parentForm]="businessForm"></app-generic-select>
                <!-------Business id------>
                <app-generic-input class="default-input-register" inputLabel="מספר עסק" [controlName]="registerFormControls.BUSINESSNUMBER"
                  [parentForm]="businessForm" [errorText]="'נא הכנס מספרים בלבד'"></app-generic-input>
                <!------- business date ----->
                <app-generic-input class="default-input-register" [inputType]="formTypes.DATE" inputLabel="תאריך פתיחת עסק"
                  [controlName]="registerFormControls.BUSINESSDATE" [parentForm]="businessForm"></app-generic-input>
                <!------- business inventory ----->
                <app-generic-select class="wide-input-register" [controlName]="registerFormControls.BUSINESSINVENTORY" title="האם העסק מנהל מלאי?"
                  [items]="employeeList" [parentForm]="businessForm"></app-generic-select>
              </form>
            </div>
            <!-------Business name 2 ------>
            <div class="wrap-one-detial-business">
              <div class="business-title" *ngIf="businessForm && isSpouseIndependent()">פרטי עסק בן/בת הזוג</div>
              <form *ngIf="businessForm && isSpouseIndependent()" class="form-register" [formGroup]="businessForm">
                <app-generic-input class="default-input-register" inputLabel="שם עסק" [controlName]="registerFormControls.SPOUSEBUSINESSNAME"
                  [parentForm]="businessForm"></app-generic-input>
                <!--------------- Business type ------------->
                <app-generic-select class="default-input-register" [controlName]="registerFormControls.SPOUSEBUSINESSTYPE" title="סוג העסק"
                  [items]="businessTypeOptionsList" [parentForm]="businessForm"></app-generic-select>
                <!-------Business id------>
                <app-generic-input class="default-input-register" inputLabel="מספר עסק" [controlName]="registerFormControls.SPOUSEBUSINESSNUMBER"
                  [parentForm]="businessForm"></app-generic-input>
                <!------- business date ----->
                <app-generic-input class="default-input-register" [inputType]="formTypes.DATE" inputLabel="תאריך פתיחת עסק"
                  [controlName]="registerFormControls.SPOUSEBUSINESSDATE"
                  [parentForm]="businessForm"></app-generic-input>
                <!------- business inventory ----->
                <app-generic-select class="wide-input-register" [controlName]="registerFormControls.SPOUSEBUSINESSINVENTORY"
                  title="האם העסק מנהל מלאי?" [items]="employeeList" [parentForm]="businessForm"></app-generic-select>
              </form>
            </div>
          </div>
        </ng-container>

        <!-------------- VALIDATION MODULE ------------->
        <ng-container *ngSwitchCase="registerFormModules.VALIDATION">
          <form *ngIf="validationForm" class="form-register-validate" [formGroup]="validationForm"
            class="validation-form-register">
            <ion-label>סיסמא חייבת לכלול שני תווים באנגלית ומספרים ולהיות לפחות באורך של שמונה תווים</ion-label>
            <app-generic-input class="password-input-register" [inputType]="formTypes.PASSWORD" inputLabel="סיסמא"
              [controlName]="registerFormControls.PASSWORD" [parentForm]="validationForm"
              [errorText]="'הסיסמה אינה חוקית'"></app-generic-input>
            <app-generic-input class="password-input-register" [inputType]="formTypes.PASSWORD" inputLabel="אימות סיסמא"
              [controlName]="registerFormControls.CONFIRM_PASSWORD" [parentForm]="validationForm"
              [errorText]="'סיסמאות לא זהות'" [showError]="(this.passwordValid)"
              (onInputChange)="checkPassword()"></app-generic-input>
          </form>
        </ng-container>
      </ng-container>
    </div>

    <div>
      <app-button buttonText="חזור" [disabled]="selectedFormModule === registerFormModules.PERSONAL"
        (onButtonClicked)="onBackBtnClicked()"></app-button>
      <app-button [buttonText]="buttonNextText" [disabled]="isNextButtonDisabled"
        (onButtonClicked)="onNextBtnClicked()"></app-button>
    </div>

    <div>
      משתמש קיים? לחץ <span (click)="navigateToLogin()" class="blue-link">כאן</span> לכניסה.
    </div>
  </div>
  <p>
  </p>
</ion-content>