.wrap-popoup-select {
    width: 100%;
    height: 93%;
   // border: 4px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wrap-radio-group-popup-select {
    display: flex;
    align-self: start;
    margin-right: 9px;
    height: 65%;
}

.list-radio-popup-select {
    height: 100%;
}

.radio-group-popup-select {
    display: flex;
    flex-direction: column;
}

.one-radio-popup-select {
    display: flex;
    justify-content: start;
}

ion-radio {
    width: fit-content;
}
