<app-custom-toolbar></app-custom-toolbar>
<!-- <div class="inputs-sort-date-storage">
  
  <div class="filter-box">
    <ion-input id="month" type="month" placeholder="בחר חודש"></ion-input>
    <label class="month-label" for="month">תאריך</label>
  </div> -->
  <!-- <div class="filter-box">
    <select class="labels" id="year" name="year">
      <option *ngFor="let year of chooseYear " value="year">{{year}}</option>
    </select>
    <label for="year">בחר שנה</label>
  </div> -->
  <!-- <div class="filter-box">
    <ion-input  label="ספק" label-placement="floating"  id="provider" type="text"></ion-input>
  </div>
  <div class="filter-box">
    <ion-input  label="סוג הוצאה" label-placement="floating" id="outcome" type="text"></ion-input>
  </div>
  
</div> -->
<ion-content [fullscreen]="true">
  <div class="div-content">
    <div class="div-sort">
      <app-sort-date></app-sort-date>
    </div>
      <div *ngIf="items$ | async as items" class="table-wrapper" >
        <app-table [rows]="items" [fieldsNames]="fieldsNamesToShow" (updateClicked)="onUpdateClicked($event)" (deleteClicked)="onDeleteClicked($event)"></app-table>
      </div>
    </div>
    <!-- <ion-button (click)="openPopupAddExpense()" shape="round">הוסף הוצאה</ion-button>  -->
    
    <!-- <app-table *ngIf="columns && rows.length" [columns]="columns" [rows]="rows"></app-table> -->
    <ion-toast [isOpen]="isToastOpen" [message]="toastMessage" [duration]="3000" (didDismiss)="setOpenToast()"></ion-toast>

  </ion-content>
