<div class="my-documents-wrap-screen">

  <div class="report-screen">

    <div class="title-wrap">
      <span class="title-main">המסמכים שלי</span>
      <span class="title-explain">כאן תוכלו למצוא כל מסמך שהפקתם או שהעליתם</span>
    </div>

    <div class="cards-container">
      @for (item of itemsNavigate; track $index) {
        <app-card-navigate [cardItem]="item"></app-card-navigate>
      }
    </div>

  </div>

</div>



<!-- <ion-content [fullscreen]="true">

  <app-search-bar class="generic-searchbar-wrapper" [customTemplate]="searchBarContent" [isDisabled]="storageForm.invalid" (onSearchClick)="setRowsData()"></app-search-bar>

    <div *ngIf="items$ | async as items">
      <app-table (filterBy)="updateFilter($event)" [inputSearchLable]="'חיפוש לפי ספק'" [actionsToIgnore]="ACTIONS_TO_IGNORE" [columnsWidth]="COLUMNS_WIDTH" [columnsToIgnore]="COLUMNS_TO_IGNORE" [rows]="filterRows"
        [actions]="tableActions" [fieldsNames]="fieldsNamesToShow"
        [columnsOrderByFunc]="columnsOrderByFunc" [specialColumnsCellRendering]="specialColumnsCellRendering"></app-table>
    </div>

</ion-content>

<ion-popover [isOpen]="isOpenConfirmDel">
  <ng-template>
    <ion-content>
      <div class="wrap-message">
        <div>{{message}}</div>
        <div class="wrap-buttons-message">
          <app-button [buttonSize]="ButtonSize.SMALL" buttonText="כן" (onButtonClicked)="deleteExpense()"></app-button>
          <app-button buttonText="לא" [buttonSize]="ButtonSize.SMALL" (onButtonClicked)="cancelDel()"></app-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-popover>

<ng-template #searchBarContent>
  <form class="generic-search-bar-content" [formGroup]="storageForm">
    <app-select-report-period class="input-search-bar" [parentForm]="storageForm" (onSelectionChange)="setFormValidators($event)" [title]="'סנן לפי'"></app-select-report-period>
    <app-select-year *ngIf="this.storageForm.get('reportingPeriodType').value != reportingPeriodType.DATE_RANGE" [parentForm]="storageForm" class="input-search-bar"></app-select-year>
    <app-select-month 
    *ngIf="this.storageForm.get('reportingPeriodType').value != reportingPeriodType.DATE_RANGE && 
           this.storageForm.get('reportingPeriodType').value != reportingPeriodType.ANNUAL" [parentForm]="storageForm" class="input-search-bar" [year]="this.storageForm.get('year').value">
    </app-select-month>
    <app-sort-date *ngIf="this.storageForm.get('reportingPeriodType').value === reportingPeriodType.DATE_RANGE" [controlName]="'startDate'" [parentForm]="storageForm" class="input-search-bar"[inputLabel]="'מתאריך'"></app-sort-date>
    <app-sort-date *ngIf="this.storageForm.get('reportingPeriodType').value === reportingPeriodType.DATE_RANGE" [controlName]="'endDate'" [parentForm]="storageForm" class="input-search-bar" [inputLabel]="'עד תאריך'" [minDate]="this.storageForm.get('startDate').value"></app-sort-date>
    <app-generic-select class="input-search-bar" *ngIf="userData?.isTwoBusinessOwner" [items]="businessNamesList" [parentForm]="storageForm" [title]="'בחר עסק'" [controlName]="'businessNumber'"></app-generic-select> 
  </form>
</ng-template> -->