
<div class="finsite-search-bar">  
  <app-search-bar  [customTemplate]="finsiteForm" (onSearchClick)="getTransFromApi()" [isDisabled]="fisiteDataForm.invalid"></app-search-bar>
</div>
  <ng-template #finsiteForm>
    <app-sort-date [controlName]="'startDate'" [parentForm]="fisiteDataForm" [inputLabel]="'מתאריך'"></app-sort-date>
    <app-sort-date [controlName]="'endDate'" [parentForm]="fisiteDataForm" [inputLabel]="'עד תאריך'"></app-sort-date>
    <app-generic-input [parentForm]="fisiteDataForm" [controlName]="'finsiteId'" [inputLabel]="'מזהה פינסייט'"></app-generic-input>
  </ng-template>

  <app-button [buttonText]="'משוך נתונים'" (onButtonClicked)="getAllUsersDataFromFinsite()"></app-button>
