

.inouts-select{
    display: flex;
    justify-content: space-between;
    --padding-top:200px;
}
.checkbox-button{
    display: flex;
    justify-content: space-between;
}
// .custom-select-label {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     color: blue;
//     font-weight: bold;
//   }
//   .custom-select-label::part(arrow) {
//     margin-top: -10px;
//     --highlight-color: blue;
//     font-weight: bold;
//   }
  
  