
  <div class="wrap-form">
    <form class="form-sort">
      <ion-input class="input-sort-date" label="מתאריך" fill="outline" label-placement="floating" type="date"></ion-input>
      <ion-input class="input-sort-date" label="עד תאריך" fill="outline" label-placement="floating"
        type="date"></ion-input>
      <ion-input class="input-sort-date" label="ספק" fill="outline" label-placement="floating" type="text"></ion-input>
      <ion-input class="input-sort-date" label="קטגוריה" fill="outline" label-placement="floating"
        type="text"></ion-input>
      <ion-button class="button-sort" type="submit">
        <ion-icon size="large" name="search"></ion-icon>
      </ion-button>
    </form>
  </div>