.main-container-add-bill {
    display: flex;
    height: 64%;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
}

.sub-container-add-bill {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 80%;
}


.container-bill-exist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    height: 100%;
}

.container-new-bill {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-exist {
    border-bottom: 1px solid gray;
    width: 200px;
}

.checkbox-wrapp {
    display: flex;
    flex-direction: column;
}

ion-segment-button.md {
    --color: #000;
    --color-checked: #08a391;
    --indicator-height: 4px;
    --border-width: 0px;
}

.header-list{
    display: flex;
    width: 98%;
    justify-content: space-between;
}

.header-list :hover {
    cursor: pointer;
}

.radio-group {
    flex-direction: column;
    display: flex;
    gap: 3px;
}

ion-radio {
    width: fit-content;
}

.login-input{
    --border-radius: 15px;
    width: 220px;
  }