<ion-header>
  <ion-toolbar>
    <ion-list class="header-list">
      <ion-title>שיוך אמצעי תשלום - {{paymentMethod}}</ion-title>
      <ion-icon class="add-expense-icon-header" (click)="cancel()" aria-label="back" size="large"
        name="close-outline"></ion-icon>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container-add-bill">
    <div class="sub-container-add-bill">
      <div class="container-bill-exist">
        <div>
          <p class="title-exist">בחר חשבון קיים</p>
          <ion-radio-group class="radio-group" (ionChange)="radioGroupChange($event)">
            <ion-radio label-placement="end" *ngFor="let account of accountsList"
            [value]="account.value">{{account.name}}</ion-radio>
          </ion-radio-group>
        </div>
        <app-button (onButtonClicked)="addSource()" [disabled]="onChangeRadio"
          [buttonText]="'שייך לחשבון'"></app-button>
      </div>
      <div class="container-new-bill">
        <div>
          <p class="title-exist">הוסף חשבון חדש</p>
          <form [formGroup]="addBillForm">
            <app-generic-input [parentForm]="addBillForm" inputLabel="שם החשבון" controlName="billName" [showError]="false" [showAsterisk]="false" (keyup.enter)="onEnterKeyPressed()"></app-generic-input>
          </form>
        </div>
          <app-button [disabled]="addBillForm.invalid" [buttonText]="'הוסף'" (onButtonClicked)="addBill()"></app-button>
      </div>
    </div>
  </div>
</ion-content>