<form [formGroup]="parentForm()">
  @let ctrl = parentForm().get(controlName())!;
  <div class="input-text-wrapper">
  @if (labelText()) {
  <p class="input-label">{{labelText()}}
    @if (isRequired) {
    <span class="required">*</span>
    }
  </p>
  }

   <p-datepicker
  [inputStyleClass]="inputClasses()"
  [formControlName]="controlName()"
  [placeholder]="placeholder()"
  [iconDisplay]="'input'"
  [dateFormat]="'yy-mm-dd'"
  [dataType]="'string'"
  [showIcon]="showIcon()"
  (onInput)="onInput()"
  (onSelect)="onInput()">
  <ng-template #inputicon let-clickCallBack="clickCallBack">
    <i [class]="icon()" style="font-size: 0.8rem" (click)="clickCallBack($event)"></i>
</ng-template>
</p-datepicker>
</div>
  @if (ctrl.invalid && (ctrl.dirty || ctrl.touched)) {
    <span class="error-text" style="color: red;">
      @if (ctrl.hasError('required')) {
      שדה חובה
      } @else if (ctrl.hasError('pattern')) {
      {{ errorText() || (labelText()) }}
      } @else {
      {{ errorText() }}
      }
    </span>
  }
</form>