<app-left-panel [headerText]="`שיוך אמצעי תשלום ${rowData()?.paymentIdentifier} לחשבון`" subHeaderText="תהליך השיוך חד פעמי aaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaa" [visible]="isVisible()" (visibleChanged)="onVisibleChange($event)" [backEnabled]="false">

  <div class="content" content>
    <app-input-select [ariaLabel]="'בחר את החשבון אליו תרצה לשייך את אמצעי התשלום'" [placeholder]="'בחר את החשבון אליו תרצה לשייך את אמצעי התשלום'" [parentForm]="myForm" [controlName]="'account'" [items]="accounts()" [size]="inputsSize.LARGE"></app-input-select>
    <app-p-button [buttonText]="'הוסף חשבון חדש'" [variant]="'text'" [severity]="'info'" [buttonSize]="buttonSize.AUTO" (onButtonClicked)="openAddBill()"></app-p-button>
  </div>

  <div class="footer" footer>
    <app-p-button [buttonText]="'שייך את אמצעי התשלום'" [disabled]="myForm.invalid" (onButtonClicked)="associationPaymentMethod(myForm.get('account').value)" ></app-p-button>
  </div>
</app-left-panel>