.wrap-screen {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-form {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(79, 171, 79);
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}

.input-vat-report {
  flex: 1;
  // min-width: 200px;
  --border-radius: 15px;
  margin-right: 10px;
  font-size: 90%;
  box-sizing: border-box;
}

.login-submit-button {
  // word-break:  break-word;
  text-align: center;
  white-space: normal;
  --background: rgb(79, 171, 79);
  --border-radius: 50%;
  --border-color: #878383;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.wrap-output-report{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(79, 171, 79);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.output-vat-report {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  margin: 10px;
  width: 50%;
}

.value-field-report{
  border: 1px solid black;
  color: gray;
  border-radius: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  width: 20%;
  text-align: center;
}

.field-report{
  color: gray;
}

.wrap-buttons{
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.report-title{
  display: none;
}


@media only screen and (max-width:640px) {
  .wrap-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .flex-form {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(79, 171, 79);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
  }

  .input-vat-report {
    flex: 1;
    // min-width: 200px;
    --border-radius: 15px;
    margin-top: 10px;
    font-size: 90%;
    box-sizing: border-box;
  }

  .text-before-report{
    text-align: center;
  }

  .wrap-output-report{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(79, 171, 79);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
  }

  .output-vat-report {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin: 10px;
    width: 95%;
  }

  .report-title{
    display: block;
    font-weight: 800;
  }
}