.vat-report-wrap-screen {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-right: 50px;
}

.vat-report-header {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 100px
}

.icon-title {
  display: flex;
  gap: 0.5rem;
}

.icon {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
}

.text-header {
  font-size: 1.2rem;
  color: #666;
  margin-top: 0.5rem;
}

vat-report-search-bar-input {
  margin-top: 10px;
}

.vat-report-payment-button {
  margin-top: 15px;
}

.expenses-table {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.table-wrapper {
  width: 100%;
}

.wrap-output-report {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  border-color: #f8e7e7;
  border-radius: 15px;
  margin-top: 15px;
}

.output-report {
  display: flex;
  justify-content: space-between;
  border-bottom: #f8e7e7 1px solid;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}


