<ion-button 
    class="button-wrapper"  
    shape="round"
    [ngStyle]="buttonStyle"
    [ngClass]="{'primary': buttonClass === ButtonClass.PRIMARY,
        'clear': buttonClass === ButtonClass.CLEAR,
        'icon_only': buttonClass === ButtonClass.ICON_ONLY,
        'x_small': buttonSize === ButtonSize.X_SMALL,
        'small': buttonSize === ButtonSize.SMALL,
        'big': buttonSize === ButtonSize.BIG}"
    [disabled]="disabled"
    (click)="onClick()"
>
<ion-icon *ngIf="iconName" [ngStyle]="iconStyle" [slot]="iconPosition" [name]="iconName"></ion-icon>
{{buttonText}}</ion-button>
