<ion-button 
    class="button-wrapper"  
    shape="round"
    [ngStyle]="buttonStyle"
    [ngClass]="{'primary': buttonClass === ButtonClass.PRIMARY,
        'clear': buttonClass === ButtonClass.CLEAR || buttonClass === ButtonClass.CLEAR_ICON_ONLY,
        'icon_only': buttonClass === ButtonClass.ICON_ONLY || buttonClass === ButtonClass.CLEAR_ICON_ONLY,
        'x_small': buttonSize === ButtonSize.X_SMALL,
        'small': buttonSize === ButtonSize.SMALL,
        'big': buttonSize === ButtonSize.BIG}"
    [disabled]="disabled"
    (click)="onClick()"
>

<ion-icon *ngIf="iconName" [ariaLabel]="ariaLabel" [ngStyle]="iconStyle" [slot]="iconPosition" [name]="iconName"></ion-icon>
<ion-icon *ngIf="iconSrc" size="0.5" [ariaLabel]="ariaLabel" [ngStyle]="iconStyle" [slot]="iconPosition"  [src]="iconSrc"></ion-icon>
{{buttonText}}</ion-button>
