<!-- <app-custom-toolbar></app-custom-toolbar> -->

<!-- <ion-content [fullscreen]="true"> -->

  <!-- Use direct property and event binding for selectedTab -->
  <app-tab-bar [tabs]="tabs" [selectedTab]="selectedTab" (selectedTabChange)="onTabChange($event)"></app-tab-bar>

  <app-update-data 
    *ngIf="selectedTab === 'update-details'" 
    [blocksData]="userData" 
    [updateFunction]="updateUser"
    [fieldMapping]="fieldMapping">
  </app-update-data>

  <!-- <app-manage-categories *ngIf="selectedTab === 'manage-categories'"></app-manage-categories> -->
  <!-- <app-track-expenses *ngIf="selectedTab === 'track-expenses'"></app-track-expenses> -->

<!-- </ion-content> -->