.add-supplier-header{
    display: flex;
    justify-content: space-around;
}

.add-supplier-icon-header{
    cursor: pointer;
}

.edit-supplier-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}