<app-custom-toolbar></app-custom-toolbar>

<ion-content [fullscreen]="true">

  <app-search-bar class="generic-searchbar-wrapper" [customTemplate]="clientSearchBar" 
    (onSearchClick)="setClient()"()>
  </app-search-bar>

  <div class="invite-user">
    <label for="inviteEmail">Invite a User via Email:</label>
    <input
      type="email"
      id="inviteEmail"
      [(ngModel)]="inviteEmail"
      placeholder="Enter user's email"
    />
    <button (click)="sendInvitation()">Send Invitation</button>
  </div>
  
</ion-content>

<ng-template #clientSearchBar>
  <div class="screen-client-panel">
    <form class="generic-search-bar-content">
      <app-generic-select class="search-client-class"
        [items]="myClients"
        [parentForm]="clientForm"
        controlName="client"
        [title]="'בחר לקוח'"
        (selectionChanged)="onClientSelectionChange($event)"
    ></app-generic-select>
    </form>
  </div>
</ng-template>