
<app-custom-toolbar ></app-custom-toolbar>

<ion-content [fullscreen]="true">
  
  
<div class="flex-center">
  <ion-button class="menu-button" href="/add-invoice">הוספת הוצאה</ion-button>
  <ion-button class="menu-button" href="/reports">הגשת דוחות</ion-button>
  <ion-button class="menu-button" href="/my-status">הסטטוס שלי</ion-button>
  <ion-button class="menu-button" href="/my-storage">הענן של </ion-button>
</div>
  <ion-button class="whatsapp-button" href="https://wa.me/972525675730"  target="_blank">whatsapp</ion-button>
  <ion-button href="/my-account">עדכון פרטים</ion-button>

</ion-content>
