a {
    text-decoration: none;
}

.main-container {
    border: 1px solid;
    border-color: #f8e7e7;
    border-radius: 8px;
    padding: 20px;
    gap: 10px;
    // width: 250px;
    // height: 258px;
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: space-around;
    :hover {
        cursor: pointer;
    }
}

.header-card {
    // border: 1px solid red;
    // width: 85%;
    // height: 129px;
    display: flex;
    flex-direction: column;
    // align-items: self-start;
    // margin-top: 17px;
    // word-break: break-word;

}

.image-card {
    border-radius: 8px;
    width: 59px;
    //  xheight: 45px;
}

.title-card {
    margin-top: 9px;
    font-size: 20px;
    font-weight: 550;
    color: #363636;
}

@media (prefers-color-scheme: dark) {
    .title-card {
        color: #fff;
    }
}

.footer-card {
    // border: 1px solid blue;
    // word-break: break-word;
    // width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // height: 129px;

}

.text-card {
    display: flex;
    color: gray;
}