a {
    text-decoration: none;
}

.main-container {
    border: 1px solid;
    border-color: #f8e7e7;
    border-radius: 8px;
    width: 250px;
    height: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    :hover {
        cursor: pointer;
    }
}

.header-card {
    // border: 1px solid red;
    width: 85%;
    display: flex;
    flex-direction: column;
    // align-items: self-start;
    margin-top: 17px;
    word-break: break-word;
}

.image-card {
    border-radius: 8px;
    width: 35px;
    // height: 45px;
}

.title-card {
    margin-top: 9px;
    font-size: x-large;
    color: #524e4e;
    margin-bottom: 0;
}

.footer-card {
    // border: 1px solid blue;
    word-break: break-word;
    width: 85%;
    display: flex;
    align-items: flex-start;
    margin-top: 4px;
    padding-top: 0;
    margin-bottom: 17px;
}

.text-card {
    color: gray;
}