<div class="login-wrap-screen">

  <div class="login-screen">

    <div class="login-card">
      <div class="logo-title-row">
        <img class="top-nav-logo" src="../../../assets/login_logo.svg" alt="Logo" height="40">
      </div>
      <div class="welcome">
        <span class="welcome-title">ברוכים הבאים</span>
        <span>בחרו איך תרצו ליצור חשבון או התחברו עם החשבון הקיים שלכם</span>
      </div>

      <div class="social-login-buttons">
        <p-button label="התחברו עם פייסבוק" icon="pi pi-facebook" iconPos="right" class="social-btn fb-btn" severity="secondary" [rounded]="true" variant="outlined"></p-button>
        <p-button iconPos="right" class="social-btn google-btn" severity="secondary" [rounded]="true" variant="outlined">
          <ng-template pTemplate="content"><img src="../../../assets/icon/google-icon.png" class="google-icon" alt="Google" />התחברו עם גוגל</ng-template>
        </p-button>
      </div>

      <div class="line-with-text">
        <span class="line"></span>
        <span class="text">התחברות עם חשבון קיים</span>
        <span class="line"></span>
      </div>

      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login2()">

        <p-iconfield class="input-wrap" iconPosition="right">
          <p-inputicon class="input-icon" styleClass="pi pi-envelope" />
          <input class="input-text" type="text" pInputText pSize="large" placeholder="אימייל" formControlName="userName"/>
        </p-iconfield>

        <p-iconfield class="input-wrap" iconPosition="right">
          <p-inputicon class="input-icon" styleClass="pi pi-lock" />
          <input class="input-text" type="text" pInputText placeholder="סיסמה" formControlName="password"/>
        </p-iconfield>

        <div class="forgot-password">
          <span>שכחת את הסיסמה?</span>
          <app-p-button [buttonText]="'שחזור סיסמה'" [variant]="'text'" [severity]="'info'" [buttonSize]="buttonSize.AUTO" (onButtonClicked)="sendVerficaitonEmail()"></app-p-button>
        </div>

        <app-p-button [buttonText]="'היכנסו עכשיו'" [buttonSize]="buttonSize.BETWEEN" [buttonColor]="buttonColor.YELLOW" [disabled]="loginForm.invalid" (onButtonClicked)="login2()"></app-p-button>

      </form>

      <div class="register-link">
        <span>אין לכם חשבון?</span><br />
        <app-p-button [buttonText]="'הרשמו בקלות'" [variant]="'text'" [severity]="'info'" [buttonSize]="buttonSize.AUTO" (onButtonClicked)="navigateToRegister()"></app-p-button>
      </div>

    </div>

    <div class="login-picture">
      <img src="../../../assets/temp_pic.jpeg" alt="Login Image" class="login-image">
    </div>

  </div>

</div>

<!-- <ion-header class="login-header" [translucent]="true">
  <ng-container *ngIf="authService.error$ | async as errorType">
    <ng-container [ngSwitch]="errorType">
      <ng-container *ngSwitchCase=" 'email' ">
        <p class="text-error">
         נשלח אליך בהרשמה מייל לאימות, אנא ודא שאישרת אותו
          <br>
          לחץ <span (click)="sendVerficaitonEmail()" class="blue-link">כאן</span> לשליחת מייל חדש לאימות
        </p>
      </ng-container>
      <ng-container *ngSwitchCase=" 'user' ">
        <p class="text-error">
        משתמש או סיסמא לא תקינים.
          <br>
          אנא ודא שהכנסת מייל תקין או הירשם למערכת
      </ng-container>
      <ng-container *ngSwitchCase=" 'error' ">
        <p class="text-error">
          השירות אינו זמין כעת אנא נסה מאוחר יותר
        </p>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-header>
<ion-content>
  <form class="flex-center" [formGroup]="loginForm" (keyup.enter)="onEnterKeyPressed()">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="custom-title"><b>עצמאי בעצמי</b></ion-card-title>
      </ion-card-header>
      <div class="line"></div>
      <ion-card-header>
        <ion-card-title class="custom-title"><b>להרוויח זמן - לחסוך כסף</b></ion-card-title>
      </ion-card-header>

      <ion-card-content class="login-card-content">
        <ng-container *ngIf="!resetMode; else resetTemplate" (keyup.enter)="login2()">
          <app-generic-input [inputType]="formTypes.EMAIL" inputLabel="אימייל" controlName="userName" className="wide"
            [parentForm]="loginForm" [showAsterisk]="false" [errorText]="'כתובת המייל אינה חוקית'"></app-generic-input>
          <app-generic-input [inputType]="formTypes.PASSWORD" inputLabel="סיסמא" controlName="password"
            [parentForm]="loginForm" [showAsterisk]="false" [showError]="false"></app-generic-input>
          <app-button [isLoading]="isLoading" [buttonSize]="ButtonSize.SMALL" [disabled]="this.loginForm.invalid" buttonText="התחבר"
            (onButtonClicked)="login2()"></app-button>
        </ng-container>
        <ng-template #resetTemplate>
          <app-generic-input (keyup.enter)="resetPassword()" [inputType]="formTypes.EMAIL" inputLabel="אימייל"
            className="wide" [showAsterisk]="false" [errorText]="'כתובת המייל אינה חוקית'" controlName="userName"
            [parentForm]="resetForm" (onInputChange)="saveEmailForReset($event)"></app-generic-input>
          <div class="reset-buttons">
            <app-button [buttonSize]="ButtonSize.SMALL" buttonText="חזור"
              (onButtonClicked)="switchMode(false)"></app-button>
            <app-button [buttonSize]="ButtonSize.SMALL" [disabled]="this.resetForm.invalid" buttonText="שלח"
              (onButtonClicked)="resetPassword()"></app-button>
          </div>
        </ng-template>
        <p>
          לחץ <span (click)="switchMode(true)" class="blue-link">כאן</span> לשליחת מייל לאיפוס סיסמא.
        </p>
        <p>
          משתמש חדש? לחץ <span (click)="navigateToRegister()" class="blue-link">כאן</span> להרשמה.
        </p>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content> -->