input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #FAFAFA inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.custom-modal {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  position: relative;
  direction: rtl;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.blue-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.login-page {
  display: flex;
  min-height: 100svh;
}

.login-section {
  width: clamp(400px, 40vw, 600px);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  max-height: 100svh;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 4rem 1rem;
}

// login-top
.login-top {
  margin-bottom: 2rem;
}

.login-logo {
  display: flex;
  justify-content: center;
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  p {
    padding: 2px 0 0 0;
    margin: 0;
  }
}

.welcome-title {
  font-size: 2rem;
  font-weight: 700;
}

.welcome-text {
  text-align: center;
  overflow-wrap: break-word;
}

.social-login-buttons {
  visibility: hidden;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 12px;
}

// login-center
.login-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrap-register-with-exist-account {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.register-with-exist-account {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-with-text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #57BC97;
  font-size: 14px;
  margin-bottom: 30px;
}

.line {
  height: 1px;
  background: #57BC97;
  width: 83px;
}

.text {
  color: #57BC97;
  font-size: 14px;
  font-weight: 500;

}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 241px;
}

.inputs-wrap {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-field {
  padding-right: 36px;
  border-radius: 30px;
  border: 1px solid #EBEBEB;
  width: 100%;
  height: 39px;
}

.error-slot {
  display: flex;
  width: 100%;
}

.text-error {
  align-self: baseline;
  word-wrap: break-word;
  text-align: justify;
  text-align-last: center;
  color: red;
  margin: 0;
}

.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 0 auto 44px 0;
}

.reset-buttons {
  display: inline-flex;
  gap: 6px;
}

// login-bottom
.login-bottom {
  margin-top: 2rem;
}

.login-media {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  background: #f4f4f4;
}

.login-media__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
  object-position: left top;
}

@media (max-width: 1200px) {
  .login-page {
   justify-content: center; 
  }

  .login-section {
    max-width: 600px;
    width: 100%;
  }

  .login-media {
    display: none;
  }
}
  