.flex-center{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    height: 100%;
}

.login-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
    border:3px solid rgb(79, 171, 79);
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    max-width: 360px;
    ion-input{
      margin-top: 10px;
    }
  }

.login-card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  align-items: center;
}

.login-submit-button{
    display: flex;
    // align-self: center;
    // align-items: center;
    // margin-bottom: 10px;
    // margin: auto;
    width: 130px;
    --background: rgb(71, 200, 157);
    color:black
}
.line {
  border-top: 3px solid rgb(79, 171, 79); 
  width: 80%;
  margin: auto;
}

.custom-title{
  margin: auto;
}

.blue-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer; 
}

.login-input{
  --border-radius: 15px;
}


