<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <p class="login-toolbar">עצמאי בעצמי - לחסוך כסף להרוויח זמן!</p>
  </ion-toolbar> -->
</ion-header>
<div *ngIf="!this.emailVerify && this.emailVerify !== undefined ">
  <p>עדיין לא אימתת את המייל, בבקשה כנס למייל שהזנת בהרשמה כדי לאמת חשבון</p>
  <p>
    לחץ  <span (click)="sendVerficaitonEmail()" class="blue-link">כאן</span> לשליחת מייל חדש לאימות
  </p>
</div>

<form class="flex-center" [formGroup]="myForm" (ngSubmit)="signin()">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="custom-title"><b>עצמאי בעצמי</b></ion-card-title>
    </ion-card-header>
    <div class="line"></div>
    <ion-card-header>
      <ion-card-title class="custom-title"><b>להרוויח זמן - לחסוך כסף</b></ion-card-title>
    </ion-card-header>

    <ion-card-content class="login-card-content">
      <!---------user name-------->
      <ion-input class="login-input" type="text" label="אימייל" label-placement="floating" fill="outline" placeholder="אימייל"
        formControlName="userName"></ion-input>
      <!---------password--------->
      <ion-input class="login-input" type="password" label="סיסמא" label-placement="floating" fill="outline" placeholder="בחר סיסמא"
        formControlName="password"></ion-input>
        <ion-button [disabled]="this.myForm.invalid" class="login-submit-button" type="submit">התחבר</ion-button>
        
        <p>
          משתמש חדש? לחץ <span (click)="navigateToRegister()" class="blue-link">כאן</span> להרשמה.
        </p>
      </ion-card-content>
  </ion-card>
</form>
<ion-button href="/add-expenses">add</ion-button>