.input-select-wrapper {
    display: flex;
    flex-direction: column;
}

.input-label {
    padding-bottom: 10px;
}

.multi-select-pannel {
    width: auto;
    min-width: 200px;
    border: 1px solid green;
}