<div>
  <form [formGroup]="form" class="period-selector">
    @for (field of getOrderedFields(); track field) {
      <!-- @if (field.toLowerCase().includes('date')) {
        <p-datepicker [formControlName]="field" [placeholder]="getPlaceholder(field)"></p-datepicker>
      } -->
      @if (field === 'businessNumber' && businessMode() === BusinessMode.TWO_BUSINESS) {
        <app-input-select
          [parentForm]="form"
          [placeholder]="getPlaceholder(field)"
          [controlName]="field"
          [items]="businessOptions()"
          [size]="inputsSize.MEDIUM">
        </app-input-select>
      } 
      @else {
        <app-input-select
          [parentForm]="form"
          [placeholder]="getPlaceholder(field)"
          [controlName]="field"
          [items]="getItems(field)"
          [size]="inputsSize.MEDIUM">
        </app-input-select>
      }
    }

    <app-p-button 
      [buttonText]="'הצג'" 
      [buttonColor]="buttonColor.BLACK"
      [buttonSize]="buttonSize.X_SMALL" 
      (onButtonClicked)="onSubmit()" 
      [disabled]="form.invalid">
    </app-p-button>

  </form>
</div>
