<form [formGroup]="form" class="period-selector">

  <!-- PERIOD MODE -->
  <app-input-select
    [parentForm]="form"
    controlName="periodMode"
    placeholder="בחר תקופת דיווח"
    [items]="getPeriodModeOptions()"
    [size]="inputSize.MEDIUM">
  </app-input-select>

  <!-- MONTHLY + BIMONTHLY -->
  @if (form?.get('periodMode')?.value === 'MONTHLY' || form?.get('periodMode')?.value === 'BIMONTHLY') {
    <app-input-select
      [parentForm]="form"
      controlName="year"
      placeholder="בחר שנה"
      [items]="generateYears()"
       [size]="inputSize.MEDIUM">
    </app-input-select>

    <app-input-select
      [parentForm]="form"
      controlName="month"
      placeholder="בחר חודש"
      [items]="monthList"
       [size]="inputSize.MEDIUM">
    </app-input-select>
  }

  <!-- ANNUAL -->
  @if (form?.get('periodMode')?.value === 'ANNUAL') {
    <app-input-select
      [parentForm]="form"
      controlName="year"
      placeholder="בחר שנה"
      [items]="generateYears()"
       [size]="inputSize.MEDIUM">
    </app-input-select>
  }

  <!-- DATE RANGE -->
  @if (form?.get('periodMode')?.value === 'DATE_RANGE') {
    <app-input-date
      [parentForm]="form"
      controlName="startDate"
      placeholder="מתאריך"
      [size]="inputSize.MEDIUM">
    </app-input-date>

    <app-input-date
      [parentForm]="form"
      controlName="endDate"
      placeholder="עד תאריך"
      [size]="inputSize.MEDIUM">
    </app-input-date>
  }

  <!-- Submit button -->
  <!-- <app-p-button
    buttonText="הצג"
    [buttonColor]="ButtonColor.BLACK"
    [buttonSize]="ButtonSize.X_SMALL"
    (onButtonClicked)="onSubmit()">
  </app-p-button> -->

</form>
