.segment {
    width: 100%;
}

ion-segment-button.md {
    --color: #000;
    --color-checked: #08a391;
    --indicator-height: 4px;
    --border-width: 0px;
}

.title-exist {
    border-bottom: 1px solid gray;
    width: 220px;
}

.wrapp-exist-category {
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.form-exist-category {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

.wrapp-select {
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: space-around;
    align-items: center;
    // gap: 10px;
}


.wrapp-ion-card {
    height: 20%;
    margin: 20px;
    width: 100%;
    // margin: auto;
}


.ion-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: beige;
}

.content-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
}

.data-card {
    display: flex;
}

.headers-table {
    font-weight: bolder;
}

.radio-buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.select-content {
    //gap: 50px;
    display: flex;
    flex-direction: column;
}

.new-category-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wrap-checkbox {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.form-is-recognized {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 35%;
    // display: flex;
    width: 100%;
    // flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
}

.form-not-recognized {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-list{
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
}

.header-list :hover {
    cursor: pointer;
}

.recognized-checkbox-title {
    font-size: 18px;
    font-weight: 700;

    &.disabled-form {
        color: lightgray;
    }
}

.right-form-box {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    padding: 0 18px;
    scrollbar-width: none;

    &:hover {
        scrollbar-width: thin;
    }
}

.break-border {
    border-left: 1px solid black;
}

.forms-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    height: 85%;
}