.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.menu-button {
    margin: 10px;
    font-size: xx-large;
    --background: #93e9be;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
    
    --color: blue;
    
    --border-radius: 50%;
    --border-color: #000;
    --border-style: solid;
    --border-width: 3px;
    
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    
    --ripple-color: deeppink;
    height: 300px;
    width: 300px;
    --padding-top: 10px;
    --padding-bottom: 10px;

    @media only screen and (max-width: 600px) {
        margin: 10px;
        font-size: medium;
        height: 150px;
        width: 40%;
        --padding-top: 10px;
        --padding-bottom: 10px;
    }

}
// =================================== new styles ==========================================

.report-wrap-screen {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.report-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 70px;
}

.title-main {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.title-explaination {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
}

.cards-container {
    // width: 1318px;
    display: flex;
    // justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    margin-right: 70px;
    // position: fixed;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // bottom: 0;
    border-color: #EBEBEB;
    align-self: center;
}