<form [formGroup]="parentForm()" class="filter-tab">

  <ng-container *ngFor="let field of config()">

    <!-- =======================
         SELECT FIELD
    ======================== -->

    <!-- if businessNumber is the only option, don't show the select -->
    @if (field.type === 'select' && !(field.controlName === 'businessNumber' && resolveOptions(field)?.length === 1)) {
    <app-input-select [parentForm]="parentForm()" [controlName]="field.controlName" [size]="inputSize.MEDIUM"
      [placeholder]="field.label || field.placeholder" [items]="resolveOptions(field)">
    </app-input-select>
    }

    <!-- =======================
         PERIOD FIELD
    ======================== -->
    @if (field.type === 'period') {
    <app-period-select [parentForm]="parentForm()" [allowedPeriodModes]="field.allowedPeriodModes">
    </app-period-select>
    }


    <!-- =======================
         TEXT FIELD
    ======================== -->
    @if (field.type === 'text') {
    <input class="txt-input" [placeholder]="field.label || field.placeholder" [formControlName]="field.controlName" />
    }


    <!-- =======================
         NUMBER FIELD
    ======================== -->
    @if (field.type === 'number') {
    <input type="number" class="num-input" [placeholder]="field.label || field.placeholder"
      [formControlName]="field.controlName" />
    }

  </ng-container>

  <!-- =======================
       APPLY BUTTON
  ======================== -->
  <app-p-button buttonText="הצג" [buttonColor]="buttonColor.BLACK" [buttonSize]="buttonSize.X_SMALL"
    (onButtonClicked)="onApply()" [disabled]="parentForm()?.invalid">
  </app-p-button>

</form>