:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: auto;
  align-items: center;
}

/* Wrap the content */
.table-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.table-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  text-align: right;
}

.business-name {
  margin-right: 6px; /* space between the words */
  font-weight: 600;  /* optional: bold the business name */
}

