// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Custom Fonts
@font-face {
  font-family: 'Simpler';
  src: url('/assets/Simpler-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Simpler';
  src: url('/assets/Simpler-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Simpler';
  src: url('/assets/Simpler-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Simpler';
  src: url('/assets/Simpler-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$app-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.m2-define-light-theme((color: (primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "primeicons/primeicons.css";


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  min-height: 100svh;
}

// *, *::before, *::after {
//   box-sizing: border-box;
// }

app-root {
  min-height: 100%;
  width: 100%;
  // display: block;
}

.expense-modal {
  --width: 80%;
  --height: 70%;
  --border-color: rgb(79, 171, 79);
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 15px;

  @media only screen and (max-width: 800px) {
    --width: 100%;
    --height: 100%;
  }
}

.edit-row-modal {
  --border-color: rgb(79, 171, 79);
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 15px;
  --height: 98vh;
  --width: 345px;
}

.edit-supplier {
  --border-color: rgb(79, 171, 79);
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 15px;
  --height: 90%;
  --width: 275px;

}

.vatReport-modal {
  --border-color: red;
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 15px;
  --height: 100px;
  --width: 275px;
}

.popup-select {
  --border-color: rgb(79, 171, 79);
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 15px;
  --height: 150px;
  --width: 275px;
}

.ion-toast {
  --border-width: 2px;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: black;
  --border-style: solid;
  --border-color: rgb(1, 1, 1);
  font-style: italic;

  &.success {
    --background: green;
  }

  &.error {
    --background: red;

  }
}

// ======================== primeNG
.p-button {
  &.big {
    width: 200px;
  }

  &.small {
    width: 120px;
  }

  &.x_small {
    width: 100px;
  }

  &.between {
    width: 175px;
  }

  &.x_big {
    width: 215px;
  }

  &.btn_select {
    width: 264px;
  }

  &.icon {
    width: 44px;
    height: 44px !important;

    &.clicked {
      background-color: #E5E5E5 !important;
    }

  }

  &.big_icon {
    width: 54px;
    height: 54px !important;
  }

  &.auto {
    width: auto;
    min-width: max-content;
  }

  &.yellow {
    background-color: #EBFD71;
    border-color: #EBFD71;
    color: gray;

    &.yellow:hover {
      background-color: #EBFD71;
      border-color: #EBFD71;
      color: gray
    }
  }

  &.black {
    background-color: black;
    border-color: black;
    color: white;

    &.black:hover {
      background-color: #333;
      border-color: #333;
      color: white;
    }
  }

  &.white {
    background-color: white;
    // border-color: black;
    border-color: white;
    color: black;

    &.white:hover {
      background-color: white;
      border-color: white;
      color: black;
    }
  }

  &.white-border {
    background-color: white;
    border-color: black;
    // border-color: white;
    color: black;

    &.white-border:hover {
      background-color: white;
      border-color: black;
      // border-color: white;
      color: black;
    }
  }


  &.transparent {
    background-color: transparent;
    border-color: transparent;
    color: rgb(42, 38, 38);

    &.transparent:hover {
      background-color: transparent;
      border-color: transparent;
      color: rgb(42, 38, 38);
    }

    &.gray {
      color: #808080;
    }
  }

  &.outlined {
    background-color: white;
    border-color: rgb(186, 183, 183);
    color: black;

    &.outlined:hover {
      background-color: transparent;
      border-color: rgb(186, 183, 183);
      color: black;
    }
  }

  &.disabled {
    background-color: #e0e0e0 !important;
    border-color: #e0e0e0 !important;
    color: white !important;
    cursor: default !important;

    &.yellow {
      background-color: #EBFD71 !important;
      color: gray !important;
    }

    &.text {
      background-color: white !important;
      border-color: white !important;
      color: rgb(150, 150, 225) !important;
    }

    &.disabled:hover {
      background-color: #e0e0e0 !important;
      border-color: #e0e0e0 !important;
      color: 'white' !important;

      &.yellow:hover {
        background-color: #EBFD71 !important;
        border-color: #EBFD71 !important;
        color: gray !important;
        font-weight: bolder !important;
      }
    }

    &.disabled.text:hover {
      background-color: white !important;
      border-color: white !important;
      color: rgb(150, 150, 225) !important;
    }
  }

  &.filter {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    height: 43px;
  }
}

.p-button-text.p-button-info:hover {
  // for avoid the shadow of button text
  background-color: transparent !important;
}

.p-button-text.p-button-info {
  &.login {
    padding-inline: 0 !important;
    padding-block: 0 !important;

    &.login:hover {
      border-bottom: 2px solid lightblue;
      border-radius: 0 !important;
    }
  }
}

.p-drawer-footer {
  // for footer of left panel
  box-shadow: 0 -4px 8px -4px rgba(0, 0, 0, 0.2);
}

.p-overlay {
  right: auto !important;
  z-index: 9999 !important;
}

.p-select,
.p-multiselect {
  //For select input
  border-radius: 20px !important;
  border-color: rgb(186, 183, 183) !important;

  &.wide {
    width: 420px !important;
  }

  &.auto {
    width: auto;
  }

  &.normal {
    width: 215px;
  }

  &.between {
    width: 264px;
  }

  &.narrow {
    width: 120px;
  }

  &.register {
    border: 1px solid #ebe8e8 !important;
    padding-inline: var(--p-inputtext-padding-x) !important;
    border-radius: 26px !important;
    background-color: #e0e0e054;

    &.dirty {
      border: 1px solid #204F56 !important;
      background-color: white !important;
    }
  }
}

.p-select-label,
.p-multiselect-label {
  font-size: larger;
  overflow: visible !important;
}

.p-multiselect-option,
.p-select-option {
  font-size: large;
}

.p-multiselect-label.p-placeholder {
  color: black !important;
}

.p-multiselect-dropdown {
  color: black !important;
}

.p-inputtext {
  //For text input
  border-color: rgb(245 242 242) !important;
  border: none !important;
  padding-inline: 0 !important;
  border-bottom: 1px solid #ebe8e8 !important;
  border-radius: 0px !important;

  &.wide {
    width: 420px !important;
  }

  &.auto {
    width: auto;
  }

  &.between {
    width: 175px;
  }

  &.normal {
    width: 215px;
  }

  &.narrow {
    width: 120px;
  }

  &.fill-border {
    border: 1px solid #ebe8e8 !important;
    padding-inline: var(--p-inputtext-padding-x) !important;
    border-radius: 26px !important;
    background-color: #e0e0e054;

    &.dirty {
      border: 1px solid #204F56 !important;
      background-color: white !important;
    }
  }

  &.white-style {
    border: 1px solid #ebe8e8 !important;
    padding-inline: var(--p-inputtext-padding-x) !important;
    border-radius: 26px !important;
    background-color: white !important;

    &.dirty {
      border: 1px solid #204F56 !important;
      background-color: white !important;
    }
  }

  &.p-datepicker-input {
    font-size: larger;
    border: 1px solid !important;
    border-radius: 20px !important;
    border-color: rgb(186, 183, 183) !important;
    padding-inline: var(--p-inputtext-padding-x) !important;

    &.register {
      border-radius: 26px !important;
      background-color: #e0e0e054 !important;
      border: 1px solid #ebe8e8 !important;

      &.dirty {
        border: 1px solid #204F56 !important;
        background-color: white !important;
      }
    }
  }


}

input.p-inputtext::placeholder {
  color: gray !important;
  opacity: 1;
}

.p-autocomplete-input {
  // padding-inline: var(--p-inputtext-padding-x) !important;
  // border-radius: 26px !important;
  // // background-color: #e0e0e054 !important;
  // border: 1px solid #ebe8e8 !important;
  border-color: rgb(245 242 242) !important;
  border: none !important;
  padding-inline: 0 !important;
  border-bottom: 1px solid #ebe8e8 !important;
  border-radius: 0px !important;

  // &.dirty {
  //   border: 1px solid #204F56 !important;
  //   background-color: white !important;
  // }
}

.p-dialog-header {
  padding-bottom: 0 !important;
}

.p-datatable-tbody>tr.p-datatable-row-selected {
  background: white !important;
  color: black !important;
}

.p-checkbox-checked .p-checkbox-icon {
  color: green !important;
}

.p-checkbox-checked .p-checkbox-box {
  border-color: gray !important;
  background: white !important;
}

.p-datatable .p-overlay-mask {
  background: transparent !important;
  pointer-events: none !important;
  /* allows interactions while loading */
}

.p-datatable-loading-icon {
  color: black !important;
}

.table .p-datatable-table-container {
  height: 500px !important;
}

.p-datatable-table-container {
  overflow-x: auto !important;
  overflow-y: auto !important;

  /* ===== Chrome, Safari, Opera ===== */
  &::-webkit-scrollbar {
    height: 5px;
    /* thickness of horizontal scrollbar */
  }

  /* Style horizontal scrollbar */
  &::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background-color: #888;
    border-radius: 6px;
    border: 2px solid #f1f1f1;
  }

  &::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-track:horizontal {
    background: #f1f1f1;
  }

  /* Hide vertical scrollbar but keep scroll functional */
  &::-webkit-scrollbar:vertical {
    width: 10px !important;
    background: transparent !important;
  }
}

:root {
  --ion-font-family: 'Simpler', 'Open Sans Hebrew', 'Roboto', Arial, Helvetica, sans-serif;
  --app-header-h: 64px;
  /* adjust to your actual top nav height */
}

html,
body,
ion-app,
ion-content,
.mat-typography {
  font-family: var(--ion-font-family) !important;
}