<form [formGroup]="parentForm()">
  @let ctrl = parentForm().get(controlName())!;

 
  <div class="input-text-wrapper">
    @if (labelText()) {
    <label class="input-label" [for]="controlName()">{{labelText()}}
      @if (isRequired) {
        <span class="required">*</span>
      }
    </label>
    }
    <input [type]="type()" pInputText [formControlName]="controlName()"  [placeholder]="labelText() ? placeholder() : placeholder() + (isRequired ? ' *' : '')"
      [class]="getinputClasses()" (change)="onChange($event)" />
  </div>

  @if (ctrl.invalid && (ctrl.dirty || ctrl.touched)) {
    <span class="error-text" style="color: red;">
      @if (ctrl.hasError('required')) {
      שדה חובה
      } @else if (ctrl.hasError('pattern')) {
      {{ errorText() || (labelText()) }}
      } @else {
      {{ errorText() }}
      }
    </span>
  }
</form>