:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: auto;
  align-items: center;
}

.pnl-report-wrap-screen {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-right: 50px;
}

.pnl-report-header {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 100px
}

.icon-title {
  display: flex;
  gap: 0.5rem;
}

.icon {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
}

.text-header {
  font-size: 1.2rem;
  color: #666;
  margin-top: 0.5rem;
}

// vat-report-search-bar-input {
//   margin-top: 10px;
// }

// .vat-report-payment-button {
//   margin-top: 15px;
// }

.wrap-output-report {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  border-color: #f8e7e7;
  border-radius: 15px;
  margin-top: 15px;
}

.pnl-report-title {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 25px;
  font-size: 1.5rem; /* You can increase to 2rem or more if needed */
  line-height: 0;
}

.output-pnl-report {
  display: flex;
  justify-content: space-between;
  border-bottom: #f8e7e7 1px solid;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.value-field-report{
  border: 1px solid #f8e7e7;
  color: gray;
  border-radius: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  width: 20%;
  text-align: center;
}

.profit-field {
  font-weight: bold;
}

.input-container {
  border: 1px solid #f8e7e7;
  width: 20%;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
}

// .input-container ion-input {
//   height: 100%;
//   width: 100%;
// }

.field-report{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap-buttons{
  width: 75%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.report-title{
  display: none;
}

.pnl-pdf-button {
  margin-top: 15px;
}