<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="title-toolbar">
        <div>{{folder }}</div>
        <div class="hello-user">
          <ng-container *ngIf="isAgentActingOnClient(); else regularUser">
            {{ "שלום " + loggedInUserName + " | עבודה על תיק לקוח " + clientName }}
          </ng-container>
          <ng-template #regularUser>
            {{ "שלום " +  loggedInUserName }}
          </ng-template>
        </div>
        <div class="icon-toolbar">
            <ion-icon size="large" name="notifications-circle-outline"></ion-icon>
            <ion-icon size="large" name="chatbubbles-outline"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>