.title-toolbar {
    display: flex;
    justify-content: space-between;
}

.icon-toolbar {
    display: flex;
}


@media only screen and (max-width:600px) {

    .hello-user {
        visibility: hidden;
    }
}