
.wrap-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: 3px solid red;
    width: 100%;
    //border-radius: 15px;
}

.wrap-message {
    width: 95%;
    text-align: center;
}

.wrap-buttons-message{
    width: 70%;
    display: flex;
    justify-content: space-between;
}