

      <ion-header>
        <ion-toolbar>
          <ion-title>הוסף הוצאה</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="myForm">
          <ion-list>
            <ng-container *ngFor="let col of columns | keyvalue">
              <ion-item *ngIf="col.key !== 'totalTax' && col.key !== 'totalVat'">
               <!--percentTax && percentVat-->
                <ion-select *ngIf="col.key === 'percentTax' || col.key === 'percentVat';else datetime"  label="{{col.value}}" formControlName="{{col.key}}"
                label-placement="floating" interface="popover">
                <ion-select-option value="25">25%</ion-select-option>
                <ion-select-option value="33">33%</ion-select-option>
                <ion-select-option value="66">66%</ion-select-option>
              </ion-select>
              <!-----------date--------------->
              <ng-template #datetime>
                <ion-input *ngIf="col.key === 'date'; else file"  label="{{col.value}}" label-placement="floating" formControlName="{{col.key}}" type="date">
                </ion-input>
              </ng-template>
               <!-----------add file--------------->
              <ng-template #file>
                <ion-input *ngIf="col.key === 'file'; else input"   label="{{col.value}}" label-placement="floating" formControlName="{{col.key}}" type="file">
                </ion-input>
              </ng-template>
               <!-----------category & provider & sum--------------->
              <ng-template #input>
                <ion-input   label="{{col.value}}" label-placement="floating" formControlName="{{col.key}}" type="text">
                </ion-input>
              </ng-template>
            </ion-item>
          </ng-container>
          <ion-checkbox formControlName="equipment">מוגדר כציוד</ion-checkbox>
          </ion-list>
        </form>
      </ion-content>


      <ion-footer>
        <ion-buttons slot="start">
          <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-footer>
 

