.generic-input-wrapper {
    height: 54px;
}

.generic-search-bar-content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 95%;
    gap: 10px;
}

.generic-searchbar-wrapper {
    width: fit-content;
    display: flex;
}

.generic-input-style {
    --border-radius: 15px;
    width: 172px;
}