.generic-input-wrapper {
    height: 80px;

    &.file {
        border-style: none;
    }
}

.generic-search-bar-content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 95%;
    gap: 10px;
}

.generic-searchbar-wrapper {
    width: fit-content;
    display: flex;
}

.generic-input-style {
    --border-radius: 15px;
    width: 172px;

    &.wide {
        width: 250px;
    }
}

.generic-ionic-selectable-content  {
    max-width: 100%;
}

.generic-ionic-selectable-wrapper {
    border: 1px solid rgb(179 179 179);
    height: 56px;
    border-radius: 13px;
    width: 172px;
    --border-style: none; // ionic-bottom-border

    &:hover {
        border-color: rgb(0, 0, 0);
    }

    &.wide {
        width: 250px;
    }

    &.focused {
        border-color: #3880ff;
        border-width: 2px;
    }

    &.valid {
        border-color: #2dd36f;
    }

    &.invalid {
        border-color: rgb(235, 68, 90);
    }
}

.errorText {
    color: rgb(235, 68, 90);
    margin-right: 16px;
    font-size: 12px;
}