---
interface Props {
	title?: string;
	description?: string;
}

const { title = 'KeepInTax', description = 'KeepInTax - פשוט להיות על זה.' } = Astro.props;
---

<!doctype html>
<html lang="he" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import '../styles/global.css';
</style>
