<!-- <form *ngIf="parentForm; else notForm" class="generic-input-wrapper {{inputType}}" [formGroup]="parentForm"> -->
<form *ngIf="parentForm; else notForm" class="generic-input-wrapper" [formGroup]="parentForm">
  <ng-container [ngSwitch]="inputType">

    <ion-input *ngSwitchCase="formTypes.DATE" class="generic-input-style {{className}}" [ngStyle]="inputCustomStyle" [formControl]="getFormControl(controlName)" [label]="inputLabelName" [errorText]="errorMessage" [value]="parentForm.get(controlName)?.value" fill="outline" label-placement="floating" [type]="inputType" [max]="maxDate" [min]="minDate" (ionChange)="onInputChanged($event)"></ion-input>

    <app-custom-input *ngSwitchCase="formTypes.PASSWORD" [controlName]="controlName" [inputLabel]="inputLabelName" [errorText]="errorMessage" [inputType]="inputType" (ionChange)="onInputChanged($event)" [parentForm]="parentForm"></app-custom-input>

    <input *ngSwitchCase="formTypes.FILE" 
           type="file" 
           (change)="onFileUpload($event)" 
           [accept]="fileTypes" 
           [formControlName]="controlName" 
           [title]="title" />
    
    <ion-input *ngSwitchDefault class="generic-input-style {{className}}" [ngStyle]="inputCustomStyle" [formControlName]="controlName" [label]="inputLabelName" [errorText]="errorMessage" fill="outline" label-placement="floating" [type]="inputType" [value]="parentForm.get(controlName)?.value" [title]="title" (ionChange)="onInputChanged($event)"></ion-input>
  </ng-container>
</form>

<ng-template #notForm>
  <ng-container [ngSwitch]="inputType">
    <ion-input *ngSwitchCase="formTypes.DATE" class="generic-input-style {{className}}" [ngStyle]="inputCustomStyle" [label]="inputLabelName" fill="outline" label-placement="floating" [type]="inputType" [max]="maxDate" [min]="minDate" (ionChange)="onInputChanged($event)"></ion-input>
    <!-- TO DO: implement notform custom input -->
    <!-- <app-custom-input *ngSwitchCase="'password'" [inputLabel]="inputLabelName" [errorText]="errorMessage" [inputType]="inputType"></app-custom-input> -->
    <ion-input *ngSwitchDefault class="generic-input-style {{className}}" [ngStyle]="inputCustomStyle" [label]="inputLabelName" [errorText]="errorMessage" fill="outline" label-placement="floating" [type]="inputType" (ionChange)="onInputChanged($event)"></ion-input>
    <ion-note *ngIf="showError" class="errorText">{{errorMessage}}</ion-note>
  </ng-container>
</ng-template>